---
title: "71% of app uninstalls are because of annoying notifications | Grid North Design"

description: "As a business owner, you might think that sending lots of notifications is a good thing, as they draw attention back to your app."

priority: "0.6"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## 71% of app uninstalls are because of annoying notifications

          This stat was shown on a slide at Facebook’s F8 developer conference (source: Appiterate Survey). As a business owner, you might think that sending lots of notifications is a good thing, as they draw attention back to your app. But, more often than not they’re annoying, and will cause customers to uninstall the app. That said, if done the right way, notifications can actually be useful.

          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">71% of all app uninstalls are triggered by a push notification! 🚫📲 <a href="https://t.co/T75cIpqTcl">pic.twitter.com/T75cIpqTcl</a></p>&mdash; Chris Maddern (@chrismaddern) <a href="https://twitter.com/chrismaddern/status/756612969807699968">July 22, 2016</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Why are notifications annoying?

          When you send a notification it interrupts what that person was doing. So if the message isn’t relevant, or you’re sending an excessive amount, then the interruption isn’t worth it. As an example, if you get 42 likes on a Facebook post, and receive a notification for each, it doesn’t make any sense. There’s no action for you to take, and the content doesn’t justify that much interruption.

          Additionally, if the message isn’t relevant to the customer, then it’s also annoying. You could be receiving notifications about sports that you’re not interested in, or TV shows that you don’t watch. The information is pointless.

          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr"><a href="https://twitter.com/Crunchyroll">@Crunchyroll</a> hey, why do i keep getting push notifications for shows that i don’t watch? that’s!! pretty annoying!! <a href="http://t.co/AqaqedHzKh">pic.twitter.com/AqaqedHzKh</a></p>&mdash; Nick Robinson (@Babylonian) <a href="https://twitter.com/Babylonian/status/405143075426533376">November 26, 2013</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### How many notifications should you send?

          We now know that it’s important not to send an excessive amount of messages, but how many should you send? When sending 2-5 notifications in one week, 46% of customers said they’d opt-out. When sending 6-10 notifications in one week, 32% of customers will <strong>stop using the app altogether</strong> (source: <a href="http://info.localytics.com/blog/the-inside-view-how-consumers-really-feel-about-push-notifications" target="_blank">Localytics</a>).

          Every business is different, so it’s important that you track how your customers are responding to the frequency and content of your messages.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### What makes a notification useful?

          Great notifications are valuable, personalised and timely. Netflix is a great example of a company that sends personalised messages. They simply let you know when a new season of your favourite TV show is available. Your customers will love to receive infrequent updates about their personal interests.

          You should also be timely and consider the location of your customers. How can you provide value at that exact moment in time? United Airlines sends you a notification if your gate changes. Waze will send you a notification if there’s traffic during your commute. This information is very valuable during that moment.

          <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Never seen gate-change push notifications before from <a href="https://twitter.com/united">@United</a>, but they&#39;re great: <a href="http://t.co/X41BJfz398">pic.twitter.com/X41BJfz398</a></p>&mdash; Tommy Collison (@tommycollison) <a href="https://twitter.com/tommycollison/status/444975612256854016">March 15, 2014</a></blockquote><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Key takeaways

          * Sending an excessive amount of notifications will annoy your customers.
          * Additionally, irrelevant notifications are also annoying, as the information is pointless.
          * It’s important to track how your customers are responding to the frequency and content of your messages.
          * Great notifications are valuable, personalised and timely.
          * Your customers will love to receive personalised messages about their interests.
          * Consider the location of your customers. How can you provide value at that exact moment in time?

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %h4
          Subscribe for monthly updates
        %p
          Sign up now to get in-depth guides, articles, and downloadable resources on mobile design for travel businesses. My goal is to make it as easy as possible for you to start making significant changes to your business.
        %form.c-form{action: "//gridnorthdesign.us3.list-manage.com/subscribe/post?u=48d252a5dc52e58fa1fce06ec&amp;id=18dc9c98bf", method: "post", target: "_blank", novalidate: ""}
          %input.c-form__input{name: "EMAIL", placeholder: "Email address...", type: "email", value: ""}/
          %input{name: "LOCATION", type: "hidden", value: "Annoying Notifications"}/
          %input.c-form__btn{name: "subscribe", type: "submit", value: "Sign up"}/
          %small.c-form__unsubscribe
            No spam, ever. Unsubscribe at any time.
