---
title: "Articles | Grid North Design"

description: "Articles and thoughts on product design."
---

%section
  .container
    :markdown
      # Articles

      I'll start sharing new articles in early 2021. Subscribe for pleasantly infrequent updates.

    .c-form
      <script async data-uid="21eedfae6e" src="https://richardchild.ck.page/21eedfae6e/index.js"></script>
