---
title: "Articles | Grid North Design"

description: "Thoughts on product design."

priority: "0.9"
---

%section
  .container
    :markdown
      # Articles

      I'll start sharing articles in 2021. Subscribe for pleasantly infrequent updates.

    .c-form
      <script async data-uid="21eedfae6e" src="https://richardchild.ck.page/21eedfae6e/index.js"></script>
