---
title: "Articles | Grid North Design"

description: "In-depth guides, articles, and downloadable resources on mobile design for travel businesses."

priority: "0.8"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## Articles

          Sign up now to get in-depth guides, articles, and downloadable resources on mobile design for travel businesses. My goal is to make it as easy as possible for you to start making significant changes to your business.

        %form.c-form{action: "//gridnorthdesign.us3.list-manage.com/subscribe/post?u=48d252a5dc52e58fa1fce06ec&amp;id=18dc9c98bf", method: "post", target: "_blank", novalidate: ""}
          %input.c-form__input{name: "EMAIL", placeholder: "Email address...", type: "email", value: ""}/
          %input{name: "LOCATION", type: "hidden", value: "Articles"}/
          %input.c-form__btn{name: "subscribe", type: "submit", value: "Sign up"}/
          %small.c-form__unsubscribe
            No spam, ever. Unsubscribe at any time.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %ul.c-articles__list
          %li
            %h4
              %a{href: "/articles/instagram-first-version"}
                Designing the first version of your app: an Instagram case study
            %p
              Building an app can be intimidating. There are uncertainties, even for experienced entrepreneurs. “How much does an app cost to build?” “How long does the process take?” “How do I handle updates?” These are common questions that most people have. But, <em>there are steps that you can take to simplify the process</em>.
          %li
            %h4
              %a{href: "/articles/annoying-notifications"}
                71% of app uninstalls are because of annoying notifications (Facebook F8 developer conference)
            %p
              This stat was shown on a slide at Facebook’s F8 developer conference. As a business owner, you might think that sending lots of notifications is a good thing, as they draw attention back to your app. But, more often than not they’re annoying, and will cause customers to uninstall your app. That said, if done the right way, <em>notifications can actually be useful</em>.
