---
title: "Designing the first version of your app: an Instagram case study | Grid North Design"

description: "Building an app can be intimidating. There are uncertainties, even for experienced entrepreneurs. But, there are steps that you can take to simplify the process."

priority: "0.6"

type: "article"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## Designing the first version of your app: an Instagram case study

          Building an app can be intimidating. There are uncertainties, even for experienced entrepreneurs. “How much does an app cost to build?” “How long does the process take?” “How do I handle updates?” These are common questions that most people have. But, <em>there are steps that you can take to simplify the process</em>.

          In Jane Portman’s article “The Essential Usability Checklist for Web Apps”, she mentions that you need to define what goal your customers have when they sign up for your product. I love this advice! Before you start designing anything, <em>consider the goal of your customers</em>. This will help going forward, and should be something that you refer back to throughout the design process. Even with limited resources, how can you help them achieve this goal?

          Most business owners fall into the trap of wanting to build ALL THE THINGS (sorry, I couldn’t help myself) right from the get go. What happens is that you end up with a product that’s too complex; increasing costs and making the process even more stressful.

          Using the goal that you identified in the previous step, start listing out all of the feature ideas that you want your app to include. But, don’t build all of these ideas at the beginning. Be really selective, and <strong>only start with those that are 100% necessary</strong>. As an example, let’s look at the first version of Instagram, and identify the challenges they faced back in 2010.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Instagram case study

          Instagram is one of the most popular apps in the world, and is constantly adding new features for the millions that use it everyday. But, it’s the story of when Instagram first launched that I want to talk about today.

          The goal their customers had was simple: they wanted a way to <em>share beautiful photos with their friends, using only a smartphone</em>. Well, it sounds simple, but the problems Instagram identified were:

          * Most people struggle to take good photos, but aspire for the quality of a professional photographer.
          * Camera quality on phones wasn’t as good as it is today.
          * Mobile internet speeds were slower, so uploading photos took time and was frustrating.

          With a small team and limited resources, it was important that they stayed focused. Instagram managed to keep the first version of its product simple, and solved some of these problems in a way that didn’t cost a lot of money. Here are the 2 key points to their success:

          ##### 1. Applying filters

          Probably what Instagram is most well-known for. There were other photo sharing apps on the market at the time, but the quality of photos on these platforms wasn’t great. This is simply because the camera quality of phones 7 years ago was nowhere near as good as it is today.

          To solve this problem, Instagram allowed you to <em>apply filters to your photos before you shared them</em>. This simple move meant that a lot of photos shared on Instagram were beautiful. Customers felt like professional photographers, and no photo editing experience was required! <em>You just had to pick a filter</em>.

          ##### 2. Loading photos in the background

          Mobile internet was slower back in 2010, which was a problem for Instagram and its competitors. You don’t want customers waiting for their photos to upload, it should feel almost instant. How they solved this problem was genius.

          If you’ve ever used Instagram, you’ll know that once you’ve taken a photo and applied a filter, you have to enter a caption on a separate screen before the photo is shared. So Instagram <em>started uploading your photo in the background as customers were typing out their caption</em>. Meaning that once you hit the share button it’s probably almost finished uploading. This simple step was a big differentiator for Instagram without spending a lot of money. Remember: consider how you can help your customers achieve their goal even with limited resources.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Key takeaways

          Building an app can be intimidating. But, there are steps that you can take to simplify the process. Remember to consider:

          * What goal your customers have when they sign up for your product. This will help going forward, and should be something that you refer back to throughout the design process.
          * Even with limited resources, how can you help your customers achieve this goal?
          * Most business owners fall into the trap of building a too complex product at the beginning. Increasing costs and making the process even more stressful.
          * It’s important to prioritise features, and only start with those that are 100% necessary.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %h4
          Sign up for monthly updates
        %p
          A well-designed mobile app is crucial for improving customer retention. You understand this and value great design, but <em>getting started can feel daunting</em>. All you want is to learn how to make real progress from a professional. That’s why I focus on sending you actionable articles on mobile design every month.
        %form.c-form{action: "//gridnorthdesign.us3.list-manage.com/subscribe/post?u=48d252a5dc52e58fa1fce06ec&amp;id=18dc9c98bf", method: "post", target: "_blank", novalidate: ""}
          %input.c-form__input{name: "EMAIL", placeholder: "Email address...", type: "email", value: ""}/
          %input{name: "LOCATION", type: "hidden", value: "Instagram First Version"}/
          %input.c-form__btn{name: "subscribe", type: "submit", value: "Sign up"}/
          %small.c-form__unsubscribe
            No spam, ever. Unsubscribe at any time.
