---
title: "Kinex | Grid North Design"

description: "Kinex is an Independent Living product with one mission: to design out the problems of crutches, so that users can maintain and lead an active life."

priority: "0.6"
---

%section
  .container
    :markdown
      # Kinex

      During the final year of my 3D design degree I worked mainly in the healthcare industry. With each project I didn't have a specific product in mind, instead I spoke with hospital staff to try and solve problems they were facing.

      Kinex is an independent living product with one mission: to design out the problems of crutches, so that users can maintain and lead an active life. Kinex addresses these problems through intuitive design that’s easy to use.

      Along with an investor, I started Hymid R&D to bring Kinex to market. Hymid R&D Ltd was setup alongside Hymid Multi-Shot Ltd to leverage their manufacturing expertise.

%section.c-media
  %figure
    %img{src: "/images/projects/kinex/kinex-clips.jpg", alt: "Pair of Kinex crutch clips", data: {at2x: "https://gridnorthdesign.com/images/projects/kinex/kinex-clips@2x.jpg"}}/
  %figcaption
    %small
      Pair of Kinex crutch clips.

%section
  .container
    :markdown
      ## The problem

      Quita is a physiotherapist at a local hospital, and she spoke about how patients with crutches struggle when using stairs. Both the NHS and manufacturers state that you must hold onto a handrail when going up and down stairs. Meaning that you have to hold a pair of crutches in one hand, which a lot of patients struggle with. The current solution is for hospitals to give patients an extra crutch, so they can leave one upstairs. This adds cost and is a makeshift solution.

    %figure.c-quote
      %blockquote
        Patients have issues when it comes to stairs. When going up the stairs you have one hand on the handrail, another holding a crutch, so what do you do with the second crutch? Most patients attempt to hold both in one hand. Physically this can be a problem, especially amongst elderly and Arthritic patients. It also distracts you from the already difficult task of getting up the stairs.
      %figcaption
        &mdash; Quita, Physiotherapist

    %figure.c-quote
      %blockquote
        One of my crutches actually snapped when going up a flight of stairs. I fell down and hit a wall, I ended up returning to the hospital for treatment.
      %figcaption
        &mdash; Patient

%section.c-media
  %figure
    %img{src: "/images/projects/kinex/physiotherapist.jpg", alt: "Physiotherapist demonstrating the problem", data: {at2x: "https://gridnorthdesign.com/images/projects/kinex/physiotherapist@2x.jpg"}}/
  %figcaption
    %small
      Physiotherapist demonstrating the problem.

%section
  .container
    :markdown
      ## Designing the solution

      Kinex solves this problem by magnetically joining two crutches together using a set of four clips. The patient maintains full use of one crutch, and stability whilst holding onto the handrail. And the second crutch remains out of the way.

      The orange Kinex clips fit onto one crutch, and the green Kinex clips fit onto the other. An orange clip will always magnetise with a green clip. Colour coding means that you know which two will magnetise together. No trial and error.

    %figure.c-quote
      %blockquote
        After my hip replacement surgery, I’ve always feared using crutches on our stairs due to the pain. Kinex was easy to fit and use as the magnets do all the work. I now feel more secure whilst on the stairs and not a prisoner in my own home!
      %figcaption
        &mdash; Carlene, long term crutch user

%section.c-media
  %figure
    %img{src: "/images/projects/kinex/design-overview.jpg", alt: "Design overview", data: {at2x: "https://gridnorthdesign.com/images/projects/kinex/design-overview@2x.jpg"}}/
  %figcaption
    %small
      Design overview showing two crutches magnetically joined together.

%section
  .container
    :markdown
      ## Design details

      The clips are simple, but let’s dive into some of the details.

      ### They never touch

      There is a gap between the surface of the magnet and the front face of Kinex, meaning the magnets never touch. This is to prevent the magnets from cracking as they come together.

      ### Magnets

      Kinex uses a high quality Neodymium magnet. The strength of the magnet has been chosen so that it offers stability whilst the crutches are locked together, but remains simple to pull apart. Magnets auto-locate, so you don’t have to spend time lining up the clips.

      ### Retrofits existing crutches

      The clip has been designed to fit a 25mm diameter tubular frame. The standard size for crutches in the UK.

%section.c-media
  %figure
    %img{src: "/images/projects/kinex/design-details.jpg", alt: "Design details of the Kinex product", data: {at2x: "https://gridnorthdesign.com/images/projects/kinex/design-details@2x.jpg"}}/
  %figcaption
    %small
      Design details of the Kinex product.

%section
  .container
    :markdown
      ## Feedback

      I asked Physiotherapists and Occupational Therapists for feedback on Kinex:

    %figure.c-quote
      %blockquote
        The design is most suited to long-term users, and we like how the simple use of magnets aid the use on stairs, a problem we’ve found amongst patients.
      %figcaption
        &mdash; Occupational Therapist

    %figure.c-quote
      %blockquote
        I really like how simple the idea is, as the NHS aren’t prepared to spend money on high-tech over designed crutches.
      %figcaption
        &mdash; Physiotherapist

%section.c-media
  %figure
    %img{src: "/images/projects/kinex/carlene.jpg", alt: "Carlene (long term crutch user) testing Kinex", data: {at2x: "https://gridnorthdesign.com/images/projects/kinex/carlene@2x.jpg"}}/
  %figcaption
    %small
      Carlene (long term crutch user) testing Kinex.

%section
  .container
    :markdown
      ## Branding

      As Kinex is colour coded, two colour variations of the logo were designed to match the product. The “X” represents two clips connecting together.

%section.c-media
  %figure
    %img{src: "/images/projects/kinex/logo-variations.png", alt: "Kinex logo variations", data: {at2x: "https://gridnorthdesign.com/images/projects/kinex/logo-variations@2x.png"}}/
  %figcaption
    %small
      Kinex logo variations.

= partial("/partials/back-to-projects")
