---
title: "Richard Writes | Grid North Design"

description: "Poetry & short stories."

priority: "0.6"
---

%section
  .container
    :markdown
      # Richard Writes

      Whilst living in Düsseldorf I joined a writing group, and since then I’ve been writing poetry and short stories. Instead of me writing about the project, you can view the live website by visiting: <a href="http://richardwrit.es" target="_blank">RichardWrit.es</a>

%section.c-more-projects
  .container
    %h2
      More personal projects
    .row
      .col-sm-6
        = partial("/partials/project-cards/sketch-to-html")
      .col-sm-6
        = partial("/partials/project-cards/sketch-tricks")
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")

= partial("/partials/testimonials/laura-quote")
