---
title: "Richard Writes | Grid North Design"

description: ""

priority: "0.6"
---

%section
  .container
    :markdown
      # Richard Writes

      When you own a camera, the biggest problem is managing all of your HD videos and photos. GNARBOX solves this problem by allowing you to backup, edit and share all of your footage, without a laptop. <em>2,988 Kickstarter backers pledged $540,776 to bring this project to life</em>.

%section.c-more-projects
  .container
    %h2
      More personal projects
    .row
      .col-sm-6
        = partial("/partials/project-cards/sketch-to-html")
      .col-sm-6
        = partial("/partials/project-cards/sketch-tricks")
    .row
      .col-sm-6
        = partial("/partials/project-cards/kinex")

= partial("/partials/testimonials/laura-quote")
