---
title: "Sketch Tricks | Grid North Design"

description: "Resources for designers."

priority: "0.6"
---

%section
  .container
    :markdown
      # Sketch Tricks

      Back in 2013, when Sketch (software for designers) was new, I started Sketch Tricks. Where I wrote articles and shared resources to help designers improve their Sketch workflow. As a result, I was asked to write a Sketch tutorial for Net magazine.

      In 2015 I sold the domain name to a friend for a small amount, so they could continue working on the project. Before selling Sketch Tricks it had reached 3700+ email subscribers, 5500+ Twitter followers, and 2300+ Medium followers.

%section.c-media
  %figure
    %img{src: "/images/projects/sketch-tricks/net-magazine.jpg", alt: "Net magazine article", data: {at2x: "https://gridnorthdesign.com/images/projects/sketch-tricks/net-magazine@2x.jpg"}}/
  %figcaption
    %small
      Net magazine article.

= partial("/partials/back-to-projects")
