---
title: "Sketch to HTML | Grid North Design"

description: "Web development service."

priority: "0.6"
---

%section
  .container
    :markdown
      # Sketch to HTML

      In 2015, Michael Koper and I started a web development service called “Sketch to HTML”. The idea was to offer a similar service that “PSD to HTML” businesses offer, but for designers who use Sketch and not Photoshop. Michael is a full-stack developer, so this was also an opportunity for me to learn more about front-end development by working with him.

      Sketch to HTML had some popularity, with a reasonable amount of enquiries coming through the website. But in 2016 we decided to discontinue the service, and we sold the domain name to Xfive.
