---
title: "trivago App redesign | Grid North Design"

description: "Increasing business value depth."

priority: "0.6"
---

%section
  .container
    :markdown
      # trivago App redesign

      * <em>Project length</em>: 4 months <em>(Aug - Nov 2017)</em>
      * <em>Entire apps team</em>: 30 members (4 Designers, 5 Project Managers, Apps Team Lead, 8 iOS engineers, 7 Android engineers, 5 QA)
      * <em>Platform</em>: iOS and Android apps

%section
  .container
    :markdown
      ## trivago's business model

      trivago is a metasearch for accommodation, focusing on helping the user find the right hotel at a great price. The business model is cost per click. So instead of booking on trivago, online travel agencies, hotel chains and independent hotels pay trivago for referring users to their booking site. And the benefit to the user is that they can see a range of prices from different providers.

%section
  .container
    :markdown
      ## Problems with the previous app

      We set out to solve two core problems with the existing app:

      ### 1. Users weren’t learning about the details of a hotel on trivago

      When you search for a hotel, you enter a destination, dates, and then you get a list of results. You might see a few hotels that looks interesting to you. With the previous app, users would then click to leave trivago, and they would get redirected to a partner website. Such as Expedia.

      Expedia would pay for that click, but because the user doesn’t know all the details of what the hotel offers. It might not be right for them, so they won’t book. Which firstly isn’t a good user experience. But secondly, this also isn’t good for our partners. Because they’re looking for high-quality referrals that lead to bookings.

      ### 2. The app followed the mobile web

      At the time the apps were very similar to the mobile website. Meaning that the apps weren’t taking advantage of the full app capability that both the iOS and Android platforms offer. But, more importantly, why download an app when you can just visit trivago.com in your browser?

%section
  .container
    :markdown
      ## Goal of the redesign

      We set out to solve two core problems with the existing app:

      ### 1. Increase business value depth

      Provide a flow that allows users to decide which hotel they’re interested in, before leaving trivago and being redirected to the partner website. Meaning the referral is higher quality and more likely to lead to a booking. This goal needed to be achieved whilst maintaining key business KPIs in the short term.

      ### 2. Native app design

      Design a mobile experience that takes advantage of the states, modes, gestures and views that a native app allows. Utilising pre-existing platform components that users will be familiar with.

= partial("/partials/back-to-projects")
