---
title: "trivago Deals navigation | Grid North Design"

description: "Launching a followup usability test."

priority: "0.6"
---

%section
  .container
    :markdown
      # trivago Deals navigation

      * Project length: Less than 1 month <em>(Apr 2019)</em>
      * Team: 1 Designer
      * Platform: iOS app

%section
  .container
    :markdown
      ## Booking a hotel

      In the trivago app, the final step of the flow is for the user to “clickout” and visit the partner website (for example, Hotels.com) to book their hotel.

      The partner website is presented in a browser within the trivago app. This means that, for the user to navigate back to trivago, they simply need to tap the back button in the top left of the screen.

%section.c-media
  %figure
    .c-media__iframe
      <iframe src="https://player.vimeo.com/video/433721808?transparent=0&title=0&byline=0&portrait=0" width="640" height="1138" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %figcaption
    %small
      Navigating between different partner websites, such as Hotels.com, within the trivago app.

%section
  .container
    :markdown
      ## Multiple back/forward buttons are confusing

      As it's a browser, there are also browser back/forward buttons displayed at the bottom of the screen. Having multiple back/forward buttons on the same screen is confusing. So we decided to A/B test presenting the browser view with a close button instead of a back button. To try and reduce confusion.

      But after A/B testing the change, there was an 11% drop in users clicking out, and visiting different partner websites.

%section
  .container
    :markdown
      ## Launching a usability test

      As a followup to the A/B test, I decided to run a usability test to try and better understand why there was a significant drop. I also saw this is a learning opportunity to setup and launch my own test.

      I decided to use the “Navigation test” on UsabilityHub, because I wanted to simulate a realistic scenario of a user comparing offers between different partner websites.

      I would see what percentage of users would successfully know how to navigate back to trivago. Five variations were tested:

      1. Back icon, positioned on the <em>left</em> of the screen.
      2. Close icon, positioned on the <em>left</em> of the screen.
      3. “Close” text, positioned on the <em>left</em> of the screen.
      4. Close icon, positioned on the <em>right</em> of the screen.
      5. “Close” text, positioned on the <em>right</em> of the screen.

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-deals-navigation/versions-tested.jpg", alt: "Versions tested", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-deals-navigation/versions-tested@2x.jpg"}}/
  %figcaption
    %small
      Two out of the five versions tested.

%section
  .container
    :markdown
      ## Conclusion

      Even though I tested multiple variations for “Close”, the back icon still performed strongest. With 19/40 participants successfully completing the task. Our initial assumption, that “Close” would be clearer, <em>wasn't</em> correct.

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-deals-navigation/user-test-results.jpg", alt: "User test results", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-deals-navigation/user-test-results@2x.jpg"}}/
  %figcaption
    %small
      The back icon, on the left, performed strongest.

= partial("/partials/back-to-projects")
