---
title: "trivago Sprint facilitation | Grid North Design"

description: "Framing the user problem and identifying potential solutions."

priority: "0.6"
---

%section
  .container
    :markdown
      # trivago Sprint facilitation

      * <em>Project length</em>: Less than 1 month <em>(Apr 2019)</em>

%section.c-project-media
  %img{src: "/images/projects/trivago-sprint-facilitation/sketching.jpg", alt: "Participants sketching", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-sprint-facilitation/sketching@2x.jpg"}}/
  %small.c-caption
    Participants sketching eight ideas in eight minutes.

%section
  .container
    :markdown
      ## The Design Sprint

      The Design Sprint is a concept developed by Jake Knapp whilst at Google. The idea is that you take a small team, and build and test a prototype in just five days. With the last two days dedicated to prototyping and testing.

      In Q2 of 2019, one of the key initiatives for trivago was “Remember My Search”. Allowing users to easily return to one of their previous searches on trivago, without needing to re-enter any information.

      At the beginning of the quarter I facilitated a one-day Design Sprint (excluding prototyping and testing) for the initiative team. As a way to frame the existing problem, and identify potential solutions to user test.

      As users might start browsing hotels on their phone, then continue from their laptop, we wanted to make sure we designed for the cross-device use case. Which is why members from both the web and app teams participated in the Sprint.

%section.c-project-media
  %img{src: "/images/projects/trivago-sprint-facilitation/ideas.jpg", alt: "Voting on design ideas", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-sprint-facilitation/ideas@2x.jpg"}}/
  %small.c-caption
    Sketches are refined into a user flow and presented to the group.

%section
  .container
    :markdown
      ## Structure

      There were seven participants in total, from different roles, including designers, engineers, project managers, QA and user research. <em>Using the Design Sprint book</em>, here is how I structured the one-day Sprint:

      ### 10:00 - 10:45: Introduction and persona stories

      The user problem and initiative goal is introduced. Participants then map out the experience of using trivago from the perspective of one of our personas. Noting any negative parts of the experience. So the group has a better understanding of the frustrations our users face when searching for a hotel.

      ### 10:45 - 12:25: Expert talks

      Presentations are given by experts to give more context on the initiative, past research, and any projects that have previously been tested. As the experts present, participants write down any questions they have in the “How might we” format. So questions and problems are phrased as opportunities.

      ### 12:25 - 12:45 “How might we” clusters

      The “How might we” questions are clustered, then participants vote on which cluster represents the greatest risk or opportunity. This gives the afternoon a clear focus, so as a group we're not overwhelmed by trying to solve too many problems in short period of time.

      ### 13:45 - 14:45: Competitor research and a chance to review

      We look at how other products have solved a similar problem. Then participants have chance to review everything so far, and take notes, before we start sketching.

      ### 15:00 - 16:15: Sketching and heatmap voting

      With the focus of the Design Sprint already defined, participants sketch eight ideas in eight minutes using the “Crazy Eights” method. Each person then gets 20 minutes to refine their sketches, and come up with a three-step user flow.

      ### 16:15 - 17:00: Selecting a solution and storyboarding

      We decide on a solution to user test, and a more detailed flow is sketched out.

%section.c-project-media
  %img{src: "/images/projects/trivago-sprint-facilitation/discussion.jpg", alt: "Participants discussing next steps", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-sprint-facilitation/discussion@2x.jpg"}}/
  %small.c-caption
    Once a solution has been chosen, participants discuss next steps.

%section
  .container
    :markdown
      ## Conclusion

      This was my first time facilitating a Design Sprint, and although I had been a participant before, I felt a lot of responsibility to make sure that the day was valuable. And the group had the environment they needed to achieve their goal.

      There was lots to consider at any one point, from making sure everyone's voice was heard, to keeping track of time. Which I found challenging. It was also eye-opening to see how much work goes into the details. For example: making sure that you have an appropriate room with all the materials, finding a time when everyone is free, and coordinating with the experts to make sure they have everything they need for their presentation.

      Overall, I was very happy with the end result, as the team left with clear next steps and a concept to user test.
