.c-case-study-card.accent
  %a.c-case-study-card__link{href: "/case-studies/accent"}
  .c-case-study-card__details
    %small
      <span>Accent</span><br>
      Translations from locals
    %img{src: "/images/case-studies/cards/chevron.png", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
