%a.c-case-study-card-link{href: "/case-studies/cabify"}
  .c-case-study-card.cabify
    .c-case-study-card__logo
      %img{src: "/images/case-studies/cards/cabify-logo.png", alt: "Cabify logo"}/
    .c-case-study-card__details
      %small
        <span>Cabify</span><br>
        iPhone app
      %img{src: "/images/case-studies/cards/chevron.png", alt: "Cabify case study"}/
