.c-case-study-card.cabify
  .c-case-study-card__logo
    %img{src: "/images/case-studies/cards/cabify-logo.png", alt: "Cabify logo", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/cabify-logo@2x.png"}}/
  .c-case-study-card__details
    %small
      <span>Cabify</span><br>
      iPhone app
    %a{href: "/case-studies/cabify"}
      %img{src: "/images/case-studies/cards/chevron.png", alt: "Cabify case study", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
