.c-case-study-card.cabify
  %a.c-case-study-card__link{href: "/case-studies/cabify"}
  .c-case-study-card__details
    %small
      <span>Cabify</span><br>
      Your private car and driver
    %img{src: "/images/case-studies/cards/chevron.svg"}/
