.c-case-study-card.gnarbox
  .c-case-study-card__logo
    %img{src: "/images/case-studies/cards/gnarbox-logo.png", alt: "GNARBOX logo"}/
  .c-case-study-card__details
    %small
      <span>GNARBOX</span><br>
      iPhone &amp; Android apps
    %a{href: "/case-studies/gnarbox"}
      %img{src: "/images/case-studies/cards/chevron.png", alt: "GNARBOX case study"}/
