.c-case-study-card.gnarbox-2
  %a.c-case-study-card__link{href: "/projects/gnarbox-2"}
  .c-case-study-card__details
    %small
      <span>GNARBOX (Part 2)</span><br>
      Editing photos and videos
