.c-case-study-card.gnarbox
  %a.c-case-study-card__link{href: "/case-studies/gnarbox"}
  .c-case-study-card__details
    %small
      <span>GNARBOX</span><br>
      Edit and share HD content
    %img{src: "/images/case-studies/cards/chevron.svg"}/
