.c-case-study-card.gridnorth-logo
  %a.c-case-study-card__link{href: "/projects/gridnorth-logo"}
  .c-case-study-card__details
    %small
      <span>Grid North Logo</span><br>
      Personal branding
