.c-case-study-card.jensonr
  .c-case-study-card__logo
    %img{src: "/images/case-studies/cards/jensonr-logo.png", alt: "JensonR+ logo"}/
  .c-case-study-card__details
    %small
      <span>JensonR+</span><br>
      Website
    %a{href: "#"}
      %img{src: "/images/case-studies/cards/chevron.png", alt: "JensonR+ case study"}/
