.c-case-study-card.jensonr
  %a.c-case-study-card__link{href: "/case-studies/jensonr"}
  .c-case-study-card__details
    %small
      <span>JensonR+</span><br>
      Pharmaceutical consultancy
    %a{href: "/case-studies/jensonr"}
      %img{src: "/images/case-studies/cards/chevron.png", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
