.c-case-study-card.maria-toledo
  %a.c-case-study-card__link{href: "/case-studies/maria-toledo"}
  .c-case-study-card__details
    %small
      <span>María Toledo</span><br>
      Actress
    %img{src: "/images/case-studies/cards/chevron.png", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
