.c-case-study-card.maria-toledo
  .c-case-study-card__details
    %small
      <span>María Toledo</span><br>
      Website
    %a{href: "/case-studies/maria-toledo"}
      %img{src: "/images/case-studies/cards/chevron.png", alt: "María Toledo case study", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
