.c-case-study-card.maria-toledo
  %a.c-case-study-card__link{href: "/case-studies/maria-toledo"}
  .c-case-study-card__details
    %small
      <span>María Toledo</span><br>
      Actress
    %img{src: "/images/case-studies/cards/chevron.svg"}/
