.c-case-study-card.ryw
  %a.c-case-study-card__link{href: "http://www.refreshyourwebsite.com", target: "_blank"}
  .c-case-study-card__logo
    %img{src: "/images/case-studies/cards/ryw-logo.png", alt: "Refresh Your Website logo", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/ryw-logo@2x.png"}}/
  .c-case-study-card__details
    %small
      <span>Refresh Your Website</span><br>
      Web design for SaaS businesses
    %a{href: "/case-studies/cabify"}
      %img{src: "/images/case-studies/cards/chevron.png", alt: "Cabify case study", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
