.c-case-study-card.sketchtohtml
  %a.c-case-study-card__link{href: "/case-studies/sketchtohtml"}
  .c-case-study-card__sold
    Sold
  .c-case-study-card__logo
    %img{src: "/images/case-studies/cards/sketch-logo.png", alt: "Sketch logo", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/sketch-logo@2x.png"}}/
  .c-case-study-card__details
    %small
      <span>Sketch to HTML</span><br>
      Web development service
    %a{href: "/case-studies/cabify"}
      %img{src: "/images/case-studies/cards/chevron.png", alt: "Cabify case study", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
