.c-case-study-card.sketchtricks
  %a.c-case-study-card__link{href: "/case-studies/sketchtricks"}
  .c-case-study-card__logo
    %img{src: "/images/case-studies/cards/sketchtricks-logo.png", alt: "Sketch Tricks logo", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/sketchtricks-logo@2x.png"}}/
  .c-case-study-card__details
    %small
      <span>Sketch Tricks</span><br>
      Articles for designers
    %a{href: "/case-studies/cabify"}
      %img{src: "/images/case-studies/cards/chevron.png", alt: "Cabify case study", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/cards/chevron@2x.png"}}/
