.c-testimonial
  padding: 100px 0
  background-color: #F7F7F8
  border: solid #EAEAEB
  border-width: 1px 0
  margin: 150px 0 0

  .c-testimonial__quote
    padding: 20px 0 20px 50px
    border-left: 6px solid #F35357

    .c-testimonial__quote__author
      margin-top: 30px
      display: block
      small
        vertical-align: middle
        display: inline-block
        color: #131922
        font-style: normal
        line-height: 1.3
        margin-left: 10px
        span
          font-weight: 700
