.c-testimonial
  padding: 20px 0
  +min-width(481px)
    border-left: 6px solid $testimonial-border
    padding-left: 30px
  +min-width(768px)
    padding-left: 50px

  .c-testimonial__author
    margin-top: 40px
    display: block
    small
      vertical-align: middle
      display: block
      color: $testimonial-author-text
      font-style: normal
      line-height: 1.3
      margin-top: 10px
      +min-width(481px)
        display: inline-block
        margin: 0 0 0 10px
      span
        font-weight: 700
