.c-call-to-action
  &:link, &:visited, &:active
    font-size: 26px
    text-decoration: none
    display: block
    margin: 22px 0 0
    +min-width(481px)
      font-size: 28px
      margin-top: 20px
