.c-btn
  &:link, &:visited, &:active
    display: inline-block
    padding: 14px 30px
    color: $btn-text
    background-color: $btn-bg
    border-radius: 2px
    min-width: 200px
    font-weight: 700
    text-align: center
  &:hover, &:focus
    background-color: $btn-bg-hover
