.c-call-to-action
  &:link, &:visited, &:active
    font-size: 18px
    margin-top: 30px
    padding: 10px 20px
    border-radius: 6px
    text-decoration: none
    display: inline-block
    border: 3px solid $cta-border
    box-shadow: $cta-shadow
    img
      margin: -4px 0 0 8px
      width: 22px
    +min-width(481px)
      font-size: 20px
      margin-top: 40px
      img
        width: 24px
  &:hover, &:focus
    @media (hover: hover)
      img
        animation: compass-rotation 8s ease-in-out alternate infinite

@keyframes compass-rotation
  15%
    transform: rotate(110deg)
  30%
    transform: rotate(70deg)
  45%
    transform: rotate(90deg)
  70%
    transform: rotate(-20deg)
  85%
    transform: rotate(20deg)
  100%
    transform: rotate(0deg)
