.c-button
  &:link, &:visited, &:active
    font-size: 18px
    padding: 10px 16px 10px 18px
    margin-top: 30px
    border-radius: 6px
    text-decoration: none
    display: inline-block
    border: 3px solid $button-border
    box-shadow: $button-shadow
    +min-width(481px)
      margin-top: 35px
      font-size: 20px
    img
      margin: -4px 0 0 8px
      width: 10px
      +min-width(481px)
        width: 12px
  &.back
    padding-left: 16px
    img
      margin: -4px 8px 0 0
