.c-services__list
  h3
    margin-bottom: 50px
    +min-width(481px)
      margin-bottom: 70px
  ul, ol
    list-style-type: none
    padding: 0
    color: inherit
    li
      margin-top: 30px
      display: inline-block
      +min-width(481px)
        margin-top: 50px
      &:first-child
        margin-top: 0
  &.whats-included
    +min-width(481px)
      padding-right: 30px
  &.process
    +max-width(480px)
      margin-top: 100px
    +min-width(481px)
      padding-left: 30px

  .c-services__list__icon
    float: left
    +max-width(480px)
      img
        width: 32px

  .c-services__list__details
    width: calc(100% - 70px)
    margin-left: 20px
    float: left
    +min-width(481px)
      margin-left: 30px
    h5
      margin: 0 0 10px
    p
      margin: 0

.c-services__footer
  padding: 70px 0 100px
  background: $services-footer-bg center bottom no-repeat image-url("footer/mountains.png")
  background-size: contain
  +min-width(481px)
    padding: 100px 0 150px
  h3
    color: $services-footer-h3

  .t-text--light
    color: $services-footer-text-light !important
    margin-bottom: 70px
    +min-width(481px)
      margin-bottom: 100px

  .c-services__footer__package
    padding: 20px
    background-color: $services-footer-package-bg
    border-radius: 4px
    margin-top: 30px
    +min-width(481px)
      padding: 30px
      margin-top: 50px

    .c-btn
      width: 100%
      margin-top: 30px
      +min-width(481px)
        margin-top: 50px

/**
 * Remove first row margin
 */

footer
  .row:nth-of-type(2)
    .col-sm-6:nth-of-type(1)
      .c-services__footer__package
        margin-top: 0
    .col-sm-6:nth-of-type(2)
      .c-services__footer__package:nth-of-type(1)
        +min-width(768px)
          margin-top: 0
