.c-card
  padding-top: 70%
  margin-top: 30px
  border-radius: 6px
  overflow: hidden
  position: relative
  box-shadow: $card-shadow
  border: 1px solid $card-border
  transition: all 0.1s ease-in
  &:hover
    border-color: $card-border-hover
    box-shadow: $card-shadow-hover
    transform: translateY(-1px)

  // Company projects
  &.trivago-explore
    background: left top no-repeat image-url("projects/cards/trivago-explore.jpg")
    +at2x("/images/projects/cards/trivago-explore", jpg, 740px, 520px)
    background-size: cover !important
  &.trivago-map-entry-point
    background: left top no-repeat image-url("projects/cards/trivago-map-entry-point.jpg")
    +at2x("/images/projects/cards/trivago-map-entry-point", jpg, 740px, 520px)
    background-size: cover !important
  &.trivago-sprint-facilitation
    background: center center no-repeat image-url("projects/cards/trivago-sprint-facilitation.jpg")
    +at2x("/images/projects/cards/trivago-sprint-facilitation", jpg, 740px, 520px)
    background-size: cover !important
  &.trivago-user-research-training
    background: left top no-repeat image-url("projects/cards/trivago-user-research-training.jpg")
    +at2x("/images/projects/cards/trivago-user-research-training", jpg, 740px, 520px)
    background-size: cover !important

  // Personal projects
  &.richard-writes
    background: left top no-repeat image-url("projects/cards/richard-writes.jpg")
    +at2x("/images/projects/cards/richard-writes", jpg, 740px, 520px)
    background-size: cover !important
  &.sketch-to-html
    background: left top no-repeat image-url("projects/cards/sketch-to-html.jpg")
    +at2x("/images/projects/cards/sketch-to-html", jpg, 740px, 520px)
    background-size: cover !important
  &.sketch-tricks
    background: center center no-repeat image-url("projects/cards/sketch-tricks.jpg")
    +at2x("/images/projects/cards/sketch-tricks", jpg, 740px, 520px)
    background-size: cover !important
  &.kinex
    background: center top no-repeat image-url("projects/cards/kinex.jpg")
    +at2x("/images/projects/cards/kinex", jpg, 740px, 520px)
    background-size: cover !important

  .c-card__link
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 10

  .c-card__details
    background-color: $card-details-bg
    box-shadow: $card-details-shadow
    width: 100%
    padding: 25px 23px
    position: absolute
    bottom: 0
    display: block
    p
      line-height: 1.3
      margin-top: 0
      span
        color: $card-details-span
        font-weight: 700

// Remove first row margin
section
  .row:nth-of-type(1)
    +max-width(767px)
      .col-sm-6:nth-of-type(1), .col-sm-12
        .c-card
          margin-top: 0
    +min-width(768px)
      .col-sm-6, .col-sm-12
        .c-card
          margin-top: 0
