.c-intro
  background: $intro-bg bottom center no-repeat image-url("intro-bg.jpg")
  background-size: cover
  padding: 120px 0 80px
  margin: 0 0 70px
  +min-width(481px)
    padding: 200px 0 100px
    margin: 0 0 100px
  h1
    color: $intro-h1
