.c-btn
  &:link, &:visited, &:active
    background-color: $btn-bg
    min-width: 200px
    padding: 14px 30px 16px
    border-radius: 3px
    font-size: 16px
    font-weight: 700
    color: $btn-text
    text-align: center
    display: inline-block
    +min-width(481px)
      font-size: 20px
  &:hover, &:focus
    background-color: $btn-bg-hover
  &:active
    background-color: $btn-bg-active
