/**
 * Project media
 */

.c-project-media
  max-width: 990px
  margin: 70px auto
  padding: 0 15px
  +min-width(481px)
    margin: 100px auto
  img
    border-radius: 3px
    margin: 0 auto
    display: block

  .c-project-media__iframe
    position: relative
    padding-bottom: 56.25%
    height: 0
    overflow: hidden
    max-width: 100%
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

/**
 * More projects
 */

.c-more-projects
  margin-top: 100px
  +min-width(481px)
    margin-top: 150px
  h2
    margin-bottom: 50px
    +min-width(481px)
      margin-bottom: 50px

/**
 * Project cards
 */

.c-project-card
  width: 100%
  height: 280px
  margin-top: 30px
  border-radius: 6px
  overflow: hidden
  position: relative
  box-shadow: $project-card-shadow
  border: 1px solid $project-card-border
  +transition(border-color 0.1s ease-in)
  &:hover
    border-color: $project-card-border-hover
    .c-project-card__details
      span
        color: $project-card-details-span-hover
  &.gnarbox-part-1
    background: right top no-repeat image-url("projects/cards/gnarbox-part-1.jpg")
    +at2x("/images/projects/cards/gnarbox-part-1", jpg, 450px, 350px)
    background-size: cover !important
  &.gnarbox-part-2
    background: center center no-repeat image-url("projects/cards/gnarbox-part-2.jpg")
    +at2x("/images/projects/cards/gnarbox-part-2", jpg, 450px, 350px)
    background-size: cover !important
  &.cabify
    background: left top no-repeat image-url("projects/cards/cabify.jpg")
    +at2x("/images/projects/cards/cabify", jpg, 450px, 350px)
    background-size: cover !important
  &.richard-writes
    background: left top no-repeat image-url("projects/cards/richard-writes.jpg")
    +at2x("/images/projects/cards/richard-writes", jpg, 450px, 350px)
    background-size: cover !important
  &.sketch-to-html
    background: left top no-repeat image-url("projects/cards/sketch-to-html.jpg")
    +at2x("/images/projects/cards/sketch-to-html", jpg, 450px, 350px)
    background-size: cover !important
  &.sketch-tricks
    background: center center no-repeat image-url("projects/cards/sketch-tricks.jpg")
    +at2x("/images/projects/cards/sketch-tricks", jpg, 450px, 350px)
    background-size: cover !important
  &.kinex
    background: center top no-repeat image-url("projects/cards/kinex.jpg")
    +at2x("/images/projects/cards/kinex", jpg, 450px, 350px)
    background-size: cover !important

  .c-project-card__link
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 10

  .c-project-card__details
    background-color: $project-card-details-bg
    width: 100%
    padding: 15px
    position: absolute
    bottom: 0
    color: $project-card-details-text
    display: block
    +min-width(481px)
      padding: 15px 20px
    span
      color: $project-card-details-span
      font-weight: 700

// Remove first row margin
section
  .row:nth-of-type(1)
    +max-width(767px)
      .col-sm-6:nth-of-type(1)
        .c-project-card
          margin-top: 0
    +min-width(768px)
      .col-sm-6
        .c-project-card
          margin-top: 0
