body.x404_reveal
  background-color: $x404-reveal-background
  h1
    font-family: "Permanent Marker", cursive
    font-size: 60px
    color: $x404-reveal-h1
    +min-width(481px)
      font-size: 100px
