.c-intro
  background: $intro-bg center center no-repeat image-url("intro-bg.jpg")
  background-size: cover
  padding: 120px 0 100px
  margin: 0 0 70px
  position: relative
  +min-width(481px)
    padding: 250px 0 150px
    margin: 0 0 120px
  h1
    color: $intro-h1

.intro__arrow
  margin-left: -32px
  position: absolute
  left: 50%
  bottom: -32px
  img
    width: 64px
    border-radius: 50%
    box-shadow: $intro-arrow-bg-shadow
