.c-services__list
  h3
    margin-bottom: 70px
  ul, ol
    list-style-type: none
    padding: 0
    color: inherit
    li
      margin-top: 50px
      display: inline-block
      &:first-child
        margin-top: 0
  &.whats-included
    padding-right: 30px
  &.process
    padding-left: 30px

  .c-services__list__icon
    float: left

  .c-services__list__details
    width: calc(100% - 70px)
    margin-left: 30px
    float: left
    h5
      margin: 0 0 10px
    p
      margin: 0

.c-services__footer
  padding: 100px 0 150px
  background: $footer-bg center bottom no-repeat image-url("footer/mountains.png")
  background-size: contain
  h3
    color: #fff

  .t-text--light
    color: #A2A9B8 !important
    margin-bottom: 70px

  .c-services__footer__package
    padding: 30px
    background-color: #FFF
    border-radius: 4px
    margin-top: 30px
    h4
      margin: 0

    .c-btn
      width: 100%
      margin-top: 40px
