.c-footer
  background: $footer-bg center bottom no-repeat image-url("footer-bg.png")
  background-size: cover
  text-align: center

  .c-footer__copyright
    position: relative
    small
      width: 100%
      position: absolute
      bottom: 50px

/**
 * Sticky footer
 */

.page-wrapper
  min-height: 100%
  margin-bottom: -180px
  +min-width(481px)
    margin-bottom: -270px
  +min-width(768px)
    margin-bottom: -400px

.c-footer__copyright, .page-pusher
  height: 180px
  +min-width(481px)
    height: 270px
  +min-width(768px)
    height: 400px
