ul, ol
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $list
  margin: 18px 0 0
  font-size: 18px
  +min-width(481px)
    font-size: 22px
    margin-top: 22px
  li
    margin: 10px 0
