blockquote
  font-family: "adelle", serif
  font-size: 25px
  font-weight: 400
  margin: 0
  quotes: "“" "”"
  +min-width(481px)
    font-size: 31px
  &:before
    content: open-quote
  &:after
    content: close-quote
