h1
  font-size: 28px
  font-weight: 700
  line-height: 1.4
  margin: 0
  +min-width(481px)
    font-size: 32px

h2
  font-size: 23px
  font-weight: 400
  color: $h2
  margin: 10px 0 0
  +min-width(481px)
    font-size: 28px

h3
  font-size: 20px
  font-weight: 700
  margin: 0 0 20px
  +min-width(481px)
    font-size: 25px

h4
  font-size: 18px
  font-weight: 700
  margin: 0 0 18px
  +min-width(481px)
    font-size: 22px
    margin-bottom: 20px

h5
  font-size: 16px
  font-weight: 700
  margin: 50px 0 16px
  +min-width(481px)
    font-size: 20px
    margin-bottom: 20px
