html
  height: 100%

body
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  -webkit-text-size-adjust: none
  min-height: 100%
  padding-top: 60px
  +min-width(768px)
    padding-top: 70px
