ul, ol
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-size: 19px
  margin: 19px 0 0
  padding-left: 30px
  +min-width(481px)
    font-size: 22px
    margin-top: 22px
  li
    margin: 10px 0
