/**
 * Elements
 */

$link: #009AEE
$link-hover: darken($link, 5%)
$paragraph: #383B3C
$list: #383B3C
$small: #6F7685
$small-link: #6F7685
$strong: #121516

/**
 * Components
 */

$header-bg: #121516
$header-gradient: linear-gradient(to right, rgba(18, 21, 22, 0) 0%, rgba(18, 21, 22, 0.9) 100%)
$header-nav-link: #FFF
$header-nav-link-hover: #6F7685
$header-nav-link-selected: #6F7685

$footer-bg: #FFF

$section-cs-image-bg: #DEDEDF

$testimonial-border: #009AEE
$testimonial-author-text: #121516

$case-study-card-details-text: #121516
$case-study-card-details-text-hover: #008DE1
$case-study-card-details-bg: rgba(255, 255, 255, 0.9)

$intro-bg: #121516
$intro-h1: #FFF
$intro-arrow-bg-shadow: 0 1px 1px rgba(0,0,0,0.2)
