$body-bg: #FFF
$container-large-desktop: 960px
$font-family-sans-serif: "adelle-sans", sans-serif
$font-family-base: $font-family-sans-serif
$font-size-base: 22px
$line-height-base: 1.5
$text-color: #121821
