/**
 * Elements
 */

$link: #1E88E5
$link-hover: darken($link, 4%)
$paragraph: #383E47
$list: #383E47
$small: #6F7685

/**
 * Components
 */

$header-bg: #121821
$header-nav-link: #888F9E
$header-nav-link-hover: #FFF
$header-nav-link-selected: #FFF

$footer-bg: #FFF
$footer-cta-h1: #FFF
$footer-copyright-small: #A2A9B8

$btn-text: #FFF
$btn-bg: #1E88E5
$btn-bg-hover: lighten($btn-bg, 2%)
$btn-bg-active: darken($btn-bg, 2%)

$section-caption: #A2A9B8
$section-light-bg: #F7F7F8
$section-light-border: #EAEAEB
$section-cs-image-jensonr-bg: #4C5760
$section-cs-image-maria-toledo-bg: #292C2C
$section-cs-image-sketchtricks-bg: #202C3A
$section-cs-image-sketchtohtml-bg: #34373B

$testimonial-border: #1E88E5
$testimonial-author-text: #121821

$case-study-card-details-text: #121821
$case-study-card-details-text-hover: #1E88E5
$case-study-card-details-bg: rgba(255, 255, 255, 0.9)
$case-study-card-sold-text: #FFF
$case-study-card-sold-bg: #E4A416

$more-case-studies-border: #EAEAEB

$services-footer-h3: #FFF
$services-footer-bg: #2C323B
$services-footer-text-light: #A2A9B8
$services-footer-package-bg: #FFF

$intro-h1: #FFF
$intro-h2: rgba(255, 255, 255, 0.7)
$intro-bg: #2C323B
$intro-light-h1: #131922
$intro-light-h2: #888F9E
$intro-light-bg: #F7F7F8

$info-message-text: #121821
$info-message-bg: #D8F1FC

/**
 * Trumps
 */

$text-light: #888F9E
