$body-bg: #FFF
$container-desktop: 800px
$container-large-desktop: $container-desktop
$font-family-sans-serif: "IBM Plex Sans", sans-serif
$font-family-base: $font-family-sans-serif
$font-size-base: 20px
$line-height-base: 1.6
$text-color: #26292A
