/**
 * Elements
 */

$h2: #888F9E
$link: #F35357
$link-hover: darken($link, 15%)
$small: #888F9E
$list: #464C55
$paragraph: #464C55

/**
 * Components
 */

$header-bg: #2C323B
$header-nav-link: #AFB6C5
$header-nav-link-hover: #FFF
$header-nav-link-selected: #FFF

$footer-bg: #393F48
$footer-cta-h2: #FFF
$footer-copyright-small: #A2A9B8

$btn-text: #FFF
$btn-bg: #F35357
$btn-bg-hover: lighten($btn-bg, 5%)

$testimonial-bg: #F7F7F8
$testimonial-border: #EAEAEB
$testimonial-quote-border: #F35357
$testimonial-quote-author: #131922
