/**
 * Margin top
 */

.t-margin-top--20
  margin-top: 20px !important

.t-margin-top--30
  margin-top: 30px !important

.t-margin-top--50
  margin-top: 50px !important

.t-margin-top--70
  margin-top: 70px !important

.t-margin-top--100
  margin-top: 100px !important

.t-margin-top--150
  margin-top: 150px !important

/**
 * Margin bottom
 */

.t-margin-bottom--20
  margin-bottom: 20px !important

.t-margin-bottom--30
  margin-bottom: 30px !important

.t-margin-bottom--50
  margin-bottom: 50px !important

.t-margin-bottom--70
  margin-bottom: 70px !important

.t-margin-bottom--100
  margin-bottom: 100px !important

.t-margin-bottom--150
  margin-bottom: 150px !important
