%section
  .container
    :markdown
      ## Read another

      Navigate back to the main projects page to choose your next read.

    %a.c-button{href: "/projects"}
      Back to Projects
      %img{src: "/images/compass.svg", "data-no-retina" => ""}/
