%section
  .container
    :markdown
      ## Read another project?

    %a.c-button.back{href: "/projects"}
      %img{src: "/images/icons/compass-left.svg", "data-no-retina" => ""}/
      Back to All Projects
