%footer.c-footer
  .container
    .row
      .col-sm-8.col-sm-offset-2
        .c-footer__cta
          %h1
            Ready to start? Are you looking for website or app design?
          %a.c-btn{href: "/website-design"}
            Website Design
          %a.c-btn{href: "/app-design"}
            App Design
    .c-footer__copyright
      %small
        Enjoy the rest of your day!
      .c-footer__copyright__social
        %a{href: "http://twitter.com/thisincludes", target: "_blank"}
          %img{src: "/images/footer/twitter-logo.png", alt: "Twitter", data: {at2x: "http://gridnorthdesign.com/images/footer/twitter-logo@2x.png"}}/
        %a{href: "http://medium.com/@thisincludes", target: "_blank"}
          %img{src: "/images/footer/medium-logo.png", alt: "Medium", data: {at2x: "http://gridnorthdesign.com/images/footer/medium-logo@2x.png"}}/
