%footer.c-footer
  .container
    .c-footer__content
      %small
        You can contact me via <a href="mailto:richard&#64;gridnorthdesign.com">email</a>, or via <a href="http://twitter.com/RJ_Child" target="_blank">Twitter</a>.
