%footer.c-footer
  .container
    .c-footer__copyright
      %small
        You can contact me via <a href="mailto:richard&#64;gridnorthdesign.com">email</a>, or via Twitter <a href="http://twitter.com/RJ_Child" target="_blank">@RJ_Child</a>.
