%footer.c-footer
  .container
    .c-footer__copyright
      %small
        A project by <a href="http://www.thisincludes.com" target="_blank">Richard Child</a>. You can contact me via <a href="mailto:richard@gridnorthdesign.com">email</a>, or <a href="/ama">ask me anything</a>.
