%footer.c-footer
  .container
    .c-footer__copyright
      %small
        A project by <a href="http://www.thisincludes.com" target="_blank">Richard Child</a>. You can contact me via <a href="mailto:richard@gridnorthdesign.com">email</a> or <a href="https://twitter.com/thisincludes" target="_blank">Twitter</a>.
