%footer.c-footer
  .container
    .c-footer__copyright
      %small
        A portfolio by <a href="https://richardwrit.es" target="_blank">Richard Child</a>. You can contact me via <a href="mailto:richard@gridnorthdesign.com">email</a>.
