%header.c-header
  .container
    %a.c-header__logo{href: "/"}
      %img{src: "/images/header/logo.png", alt: "Grid North Design"}/
    %nav.c-header__nav
      %ul
        %li
          %a{href: "/case-studies", class: page_classes.include?("case-studies") ? "selected" : ""}
            Case Studies
        %li
          %a{href: "/about", class: page_classes.include?("about") ? "selected" : ""}
            About
        %li
          %a{href: "/website-design", class: page_classes.include?("website-design") ? "selected" : ""}
            Website Design
        %li
          %a{href: "/app-design", class: page_classes.include?("app-design") ? "selected" : ""}
            App Design
        %li
          %a{href: "#"}
            Contact
