%header.c-header
  .container
    .c-header__gradient
    %a.c-header__logo{href: "/"}
      %img#header-logo{src: "/images/logo-4.svg", alt: "Grid North Design"}/
      :javascript
        var logo = $("img#header-logo"),
          logos = ["/images/logo-1.svg", "/images/logo-2.svg", "/images/logo-3.svg", "/images/logo-4.svg"],
          newLogo = logos[Math.floor(Math.random() * logos.length)];
        logo.attr("src", newLogo);

    %nav.c-header__navigation
      %ul
        %li
          %a{href: "/", class: header_nav_selected_class("index")}
            Home
        %li
          %a{href: "/projects", class: header_nav_selected_class("projects")}
            Projects
        %li
          %a{href: "/articles", class: header_nav_selected_class("articles")}
            Articles
        %li
          %a{href: "/about", class: header_nav_selected_class("about")}
            About
        %li
          %a{href: "#", class: header_nav_selected_class("contact")}
            Contact
