%header.c-header
  .container
    .c-header__gradient
    %a.c-header__logo{href: "/"}
      %img#logo{src: "", alt: "Grid North Design", "data-no-retina" => ""}/
      :javascript
        var logo = document.querySelector("img#logo");
        var logoSystem = ["/images/logo-system/logo-1.svg", "/images/logo-system/logo-2.svg", "/images/logo-system/logo-3.svg", "/images/logo-system/logo-4.svg", "/images/logo-system/logo-5.svg", "/images/logo-system/logo-6.svg"];
        var logoRandomizer = logoSystem[Math.floor(Math.random() * logoSystem.length)];
        logo.setAttribute("src", logoRandomizer);

    %nav.c-header__nav
      %ul
        %li
          %a{href: "/", class: header_nav_selected_class("index")}
            Home
        %li
          %a{href: "/projects", class: header_nav_selected_class("projects")}
            Projects
        %li
          %a{href: "/about", class: header_nav_selected_class("about")}
            About
        %li
          %a{href: "/contact", class: header_nav_selected_class("contact")}
            Contact
