%header.c-header
  .container
    .c-header__gradient
    %a.c-header__logo{href: "/"}
      %img#header-logo{src: "/images/header/logo-4.svg", alt: "Grid North Design"}/
      :javascript
        var logo = $("img#header-logo"),
          logos = ["/images/header/logo-1.svg", "/images/header/logo-2.svg", "/images/header/logo-3.svg", "/images/header/logo-4.svg"],
          newLogo = logos[Math.floor(Math.random() * logos.length)];
        logo.attr("src", newLogo);

    %nav.c-header__nav
      %ul
        %li
          %a{href: "/case-studies", class: page_classes.include?("case-studies") ? "selected" : ""}
            Case Studies
        %li
          %a{href: "/about", class: page_classes.include?("about") ? "selected" : ""}
            About
        %li
          %a{href: "/newsletter", class: page_classes.include?("newsletter") ? "selected" : ""}
            Newsletter
