%header.c-header
  .container
    .c-header__gradient
    %a.c-header__logo{href: "/"}
      %img#header-logo{src: "/images/header/logo-5.svg", alt: "Grid North Design"}/
      :javascript
        var logo = $("img#header-logo"),
          logos = ["/images/header/logo-1.svg", "/images/header/logo-2.svg", "/images/header/logo-3.svg", "/images/header/logo-4.svg", "/images/header/logo-5.svg", "/images/header/logo-6.svg"],
          newLogo = logos[Math.floor(Math.random() * logos.length)];
        logo.attr("src", newLogo);

    %nav.c-header__nav
      %ul
        %li
          %a{href: "/", class: header_nav_selected_class("index")}
            Home
        %li
          %a{href: "/projects", class: header_nav_selected_class("projects")}
            Projects
        %li
          %a{href: "/about", class: header_nav_selected_class("about")}
            About
        %li
          %a{href: "/contact", class: header_nav_selected_class("contact")}
            Contact
