---
title: "Accent | Grid North Design"

description: "Accent is an iOS app that allows anyone to post a phrase and get it translated by locals."

priority: "0.6"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## Accent

          Accent is an iOS app that allows anyone to post a phrase and get it translated by locals. You can post an image, text, or even audio! As locals have knowledge that just isn’t available from other translators, Accent’s competitive advantage is accuracy. Throughout the app we wanted to emphasise the fact that <em>every translation is human-powered</em>.

          When Accent contacted me, the app was still just an idea. I was hired to primarily work on the home feed and the process of adding new phrases to be translated.

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/accent/home-feed.jpg", alt: "Posting new phrases to Accent", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/accent/home-feed@2x.jpg"}}/
    %small.c-caption
      Accent home feed, each phrase is contained within a card.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Home feed

          The home feed is the main screen of the app. Users can see all of the phrases that have been posted for their chosen languages. They simply tap on a phrase to view more information and leave a translation. To minimise wait times, cards without any translations are prioritised.

          Each phrase is contained within a card. The design of cards allows for <em>clear visual separation</em>. So there's no confusion as users scroll through their feed.

%section
  .container
    .row
      .col-sm-5.col-sm-offset-1.col-sm-push-6.u-text--center
        %img.u-border-radius{src: "/images/case-studies/accent/structuring-information.jpg", alt: "Structuring the information in each card", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/accent/structuring-information@2x.jpg"}}/
      .col-sm-6.col-sm-pull-6
        %h5.u-margin-top--70
          Structuring the information
        :markdown
          The translate to/from languages are the most important piece of information in each card, and are given the highest priority. Profile photos are shown to reinforce that Accent is about human-powered translations.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Posting new phrases

          Imagine that you’re in a restaurant and you see a sign that you want translated. Or you’re at an Airport and you want the ticket agent to speak into the microphone. Because of these different scenarios, phrases can be posted to Accent via text, image and audio.

%section
  .container
    %img.u-border-radius{src: "/images/case-studies/accent/posting-phrases.jpg", alt: "Posting new phrases to Accent", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/accent/posting-phrases@2x.jpg"}}/
    %small.c-caption
      Posting new phrases to Accent.

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          #### Voting on translations

          To ensure a high quality standard, the community can up/down vote translations. So people know that when they post to Accent <em>they're getting an accurate response</em>.

%section.c-more-case-studies
  .container
    %h4
      More case studies
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/kinex")
      .col-sm-6
        = partial("/partials/case-study-cards/jensonr")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/maria-toledo")

= partial("/partials/testimonials/marty")
