---
title: "Cabify &mdash; Grid North Design"
priority: "0.6"
---

%section.c-intro.cabify
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          Cabify
        %h2
          Redesigning the order process of the Cabify iPhone app.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          About Cabify
        %p
          Cabify is a Spanish startup that designs and develops apps for personal transportation. Today, Cabify is available in Spain, Chile, Mexico and Peru. It's had more than 100,000 downloads of its apps globally since launch, and raised an $8 million Series A to accelerate growth in Latin America. Cabify was recognised as one of Europe’s fastest growing startups by The Next Web.

%section
  .container
    %img.t-border-radius--medium{src: "/images/case-studies/cabify/airport.jpg", alt: "Cabify at the airport"}/
    %small.c-caption
      Cabify is regularly used at airports.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          The problem
        %p
          The process of ordering a vehicle is the single most important part of the Cabify app. It needs to be easy to use yet remain fast! The existing process had 3 steps:
        %ol
          %li
            Enter your pick up location
          %li
            Enter your destination
          %li
            Select your pick up date, time and vehicle type
        %p
          Now, 3 steps might not sound like a lot, but any time we can save here will mean more orders (as there’s less friction) and an increase in revenue for the business. Therefore the focus of the redesign was to reduce the order process to just 2 steps.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          Simplifying the order process
        %p
          We were able to remove a step by making the destination optional. As our customers are able to tell the driver where they want to be dropped off, it’s not a requirement. It’s main purpose is for estimating the cost of the journey.
        %p
          In addition to making the destination optional, we decided to group information based on whether it was required for ordering a vehicle, or whether it was optional. The new 2 step process looks like this:

%section
  .container
    .row
      .col-md-6
        %h4.t-margin-top--100
          Step 1: Pick up screen
        %p
          The most important screen of the app. All of the information on this screen is required to create a journey. The customer can drag the map to select a pick up location, or enter an address. Then they have the option of making a reservation, by selecting a pick up date and time.
        %p
          The vehicle type selector is positioned at the bottom, because the pick up location, date and time determine which vehicles are available.
      .col-md-5.col-md-offset-1
        %img{src: "/images/case-studies/cabify/pick-up.png", alt: "Pick up screen"}/

%section
  .container
    .row
      .col-md-5
        %img{src: "/images/case-studies/cabify/order-summary.png", alt: "Order summary"}/
      .col-md-6.col-md-offset-1
        %h4.t-margin-top--100
          Step 2: Order summary
        %p
          The second step is the summary, all information here is optional. The summary screen acts as a confirmation of your pick up location, and adds the option of a destination. Entering a destination will provide a journey estimate.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h4
          Designing the order button
        %p
          Once the order button is pressed, the journey is confirmed. We designed the order button so that the text would give an overview of the journey. For example, an immediate pick up in a Cabify Executive car would read “Order Executive for now”.
        %img.t-margin-top--50.t-border-radius--small{src: "/images/case-studies/cabify/order-button.png", alt: "Order button"}/
        %p.t-margin-top--50
          For reservations, the order button shows the date and time of the pick up. For example “Reserve Executive for 14 Feb at 10:00”. So our customers have peace of mind as they order their journey.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h4
          Driver on way
        %p
          Once you've requested a vehicle, and a driver has been assigned, you're taken to the “Driver on way” screen. This screen displays your pick up location and the location of your driver, with an indication of how far they’re away.
        %p
          The priority of this design is ensuring the customer knows who their driver is, what car they drive, and how to contact them. So all of this information is displayed clearly. The driver's phone number is shown (instead of just a “Call” button) in case the app is being accessed from an iPad, and the number has to be entered in manually.

%section
  .container
    %img.t-border-radius--medium{src: "/images/case-studies/cabify/driver-on-way.png", alt: "Driver on way"}/

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h4
          Journey complete
        %p
          When you step out of your Cabify, you simply want to know how much the journey cost you. So emphasis is given to cost. We've also added the distance covered and journey time, as they determine the cost. For simplicity, no other information is included, and is instead emailed to you in your receipt. You can also rate your Cabify experience from this screen.

%section
  .container
    %img.t-border-radius--medium{src: "/images/case-studies/cabify/journey-complete.png", alt: "Journey complete"}/

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h4
          Feedback process
        %p
          Unfortunately some customers don't have the best Cabify experience. So at the end of the journey, we give customers the option to rate their experience, allowing Cabify to resolve any issues.
        %p
          In addition to the 5 star rating system, we’ve added the ability to quickly select the issue and leave a comment. So the customer doesn’t have to spend time typing their problem out. This screen is only shown if a customer rates a journey 3 stars or less.

%section.c-more-case-studies
  .container
    %h3
      More case studies
    .row
      .col-md-6
        = partial("/partials/case-study-cards/gnarbox")
      .col-md-6
        = partial("/partials/case-study-cards/jensonr")
    .row
      .col-md-6
        = partial("/partials/case-study-cards/maria-toledo")

= partial("/partials/testimonials/nathan")
