---
title: "GNARBOX &mdash; Grid North Design"
priority: "0.6"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %h2
          GNARBOX
        %p
          When you own a camera, the biggest problem is managing all of your HD videos and photos. GNARBOX solves this problem by allowing you to backup, organise, edit and share all of your footage, without a laptop! All you need is your phone and the GNARBOX device. Explore more. Carry less.

%section
  .container
    .c-iframe
      <iframe src="https://player.vimeo.com/video/133610334?title=0&byline=0&portrait=0" width="960" height="540" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %h4
          Funded on Kickstarter!
        %p
          2,988 Kickstarter backers pledged $540,776 to bring this project to life. To learn more, please visit their <a href="https://www.kickstarter.com/projects/gnarbox/gnarbox-edit-and-share-hd-footage-in-seconds-lapto/description" target="_blank">Kickstarter campaign</a>. Unfortunately I can’t share my work at this time, but once the first devices are delivered to customers, I’ll update this case study with more information.

%section.c-more-case-studies
  .container
    %h4
      More case studies
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/accent")
      .col-sm-6
        = partial("/partials/case-study-cards/kinex")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/jensonr")

= partial("/partials/testimonials/tim-2")
