---
title: "GNARBOX &mdash; Grid North Design"
changefreq: "monthly"
priority: "0.6"
---

%section.c-intro
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          GNARBOX
        %h2
          Edit & share HD footage in seconds, without a laptop!

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          About GNARBOX
        %p
          When you own a camera, the biggest problem is managing all of your HD videos and photos. GNARBOX solves this problem by allowing you to backup, organise, edit and share all of your footage, without a laptop! All you need is your phone and the GNARBOX device. Explore more. Carry less.

%section
  .container
    .row
      .col-md-10.col-md-offset-1
        <iframe width="770" height="578" src="https://www.kickstarter.com/projects/gnarbox/gnarbox-edit-and-share-hd-footage-in-seconds-lapto/widget/video.html" frameborder="0" scrolling="no"> </iframe>

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          Funded on Kickstarter!
        %p
          I’ve been lucky to work with the amazing GNARBOX team, designing their iPhone and Android apps. Unfortunately I can’t share my design work at this time, but once the first devices are delivered to customers, I’ll update this case study with more information.
        %p
          2,988 Kickstarter backers pledged $540,776 to bring this project to life. To learn more, please visit their <a href="http://www.kickstarter.com/projects/gnarbox/gnarbox-edit-and-share-hd-footage-in-seconds-lapto/description" target="_blank">Kickstarter campaign</a>.
        %small.c-info-message
          When GNARBOX starts delivering devices to customers, I’ll update this case study with more information.

%section.c-more-case-studies
  .container
    %h3
      More case studies
    .row
      .col-md-6
        = partial("/partials/case-study-cards/cabify")
      .col-md-6
        = partial("/partials/case-study-cards/jensonr")
    .row
      .col-md-6
        = partial("/partials/case-study-cards/maria-toledo")

= partial("/partials/testimonials/tim-2")
