---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-10
        %h1
          Case Studies
        %h2
          A few examples of some of the amazing clients I’ve had chance to work with.

= partial("/partials/testimonials/tim-1")
