---
title: "JensonR+ &mdash; Grid North Design"
changefreq: "monthly"
priority: "0.6"
---

%section.c-intro
  .container
    .row
      .col-md-8.col-md-offset-2
        %h1
          JensonR+
        %h2
          A personal project about articles & resources for designers.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          About JensonR+
        %p
          JensonR+ is a pharmaceutical consultancy that offers a wide range of services, that cover the full product life-cycle, from concept through to launch. They provide support at all levels, from strategy through to administration, which allows them to tailor their services to meet the specific needs of their clients.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          The problem
        %p
          As JensonR+ offers such a wide range of services, the problem was structuring the website in a way that clearly showed what services they offer, without making it confusing. We also wanted the reader to be able to access any service from anywhere on the page.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          Services
        %p
          A potential client needs to know what services JensonR+ offer, to decide if they’re the right fit for their company. This is the most important part of the website, and is given high priority on the homepage. In the header and footer, the services are clearly listed.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          Designing the navigation
        %p
          Whilst researching competitor websites, I found that some used multiple navigations with the same links, which is very confusing. With JensonR+’s website, we used a primary navigation that allowed the reader to access any service at any time. The navigation dropdown also gives an overview of what services are available.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          Secondary navigation
        %p
          The Regulatory Affairs page is split into smaller sections, so a secondary navigation is used. Just like the primary navigation, it’s fixed in place and can be accessed from anywhere on the page.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          The logo
        %p
          A requirement from JensonR+ was that we use their logo with a tagline, the problem is that this logo is too large for the header, especially on mobile. The solution we decided upon is to use the tagline logo when the page loads, and as the reader scrolls, the header is replaced with the smaller logo.

%section
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3
          Team page
        %p
          Each team member has a great LinkedIn profile, which shows off their experience working at large pharmaceutical companies, such as GlaxoSmithKline. In the team page we added a simple LinkedIn icon, so clients can learn more about their credibility.

%section.c-more-case-studies
  .container
    %h3
      More case studies
    .row
      .col-md-6
        = partial("/partials/case-study-cards/cabify")
      .col-md-6
        = partial("/partials/case-study-cards/gnarbox")
    .row
      .col-md-6
        = partial("/partials/case-study-cards/maria-toledo")

= partial("/partials/testimonials/tim-1")
