---
title: "María Toledo &mdash; Grid North Design"
priority: "0.6"
---

%section.c-intro.maria-toledo
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h1
          María Toledo
        %h2
          Capturing the attention of casting agents in seconds.

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h3
          About María Toledo
        %p
          María is a Spanish-English bilingual actress with experience in theatre, film, television and commercials. She trained at East 15 Acting School in London and Cuarta Pared in Madrid. Her last jobs include: the characters of Adela and the Bride by Lorca, a Xbox commercial, English plays for kids and the musical The Polyglots.

%section
  .container
    %img{src: "/images/case-studies/maria-toledo/complete-website.jpg", alt: "Complete website", data: {at2x: "http://gridnorthdesign.com/images/case-studies/maria-toledo/complete-website@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h3
          The problem
        %p
          A casting agent will be looking through hundreds of websites, so we only have seconds to capture their attention and give them the information they’re looking for. María’s website only needed to be a single page, but how it’s designed would be based purely on prioritising the information that casting agents require.

%section.t-text--center
  .container
    %img{src: "/images/case-studies/maria-toledo/first-section.jpg", alt: "First section of the website", data: {at2x: "http://gridnorthdesign.com/images/case-studies/maria-toledo/first-section@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h3
          Structuring the information
        %p
          The first section of the website is the most important, and we decided to include the following information:
        %ol
          %li
            Languages spoken
          %li
            Experience and training
          %li
            Location
          %li
            Height, hair colour, eye colour
          %li
            Nationality, natural accent, playing age
          %li
            Show reels
          %li
            Headshot
        %p
          When the website loads, the casting agent will first read the heading “María is a Spanish-English bilingual actress with experience in theatre, film, television and commercials”. The heading specifically targets casting agents and describes María’s experience in a single sentence. Speaking both Spanish and English is a big advantage for María, so it’s given high priority.
        %p
          Below the heading is María’s headshot and a short bio. The bio is very focused, only mentioning her training, location and more specific roles. The show reels are clearly titled as to not avoid confusion. Everything in this section has been designed to deliver the right information at the right time.

%section
  .container
    %img{src: "/images/case-studies/maria-toledo/photos-experience.jpg", alt: "Photos and experience", data: {at2x: "http://gridnorthdesign.com/images/case-studies/maria-toledo/photos-experience@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h3
          Photos and experience
        %p
          There’s no slideshows to click through or information to download, all of María’s photos and experience is available just by scrolling down the page. Very simple and saves time.

%section.c-more-case-studies
  .container
    %h3
      More case studies
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/cabify")
      .col-sm-6
        = partial("/partials/case-study-cards/gnarbox")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/jensonr")

= partial("/partials/testimonials/marty")
