---
title: "Sketch to HTML &mdash; Grid North Design"
priority: "0.6"
---

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h2
          Sketch to HTML
        %p
          Web development service for designers that use Sketch software.

%section.c-section.cs-image.sketchtohtml
  %img.u-border-radius--medium{src: "/images/case-studies/sketchtohtml/home.jpg", alt: "Sketch to HTML website", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/sketchtohtml/home@2x.jpg"}}/

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        :markdown
          #### About Sketch to HTML

          A good friend of mine, Michael Koper, asked me if I wanted to start a website development service, for designers that use Sketch. I’d previously seen PSD to HTML services, so a Sketch to HTML service made perfect sense.

          I’m comfortable working with HTML & CSS, but Michael is the lead developer on this project, as he’s a talented full-stack developer. Since launch, Sketch to HTML has proven to be popular, with a large amount of enquiries coming through the website. Sketch to HTML was sold to Xfive.

%section.c-more-case-studies
  .container
    %h4
      More case studies
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/cabify")
      .col-sm-6
        = partial("/partials/case-study-cards/gnarbox")
    .row
      .col-sm-6
        = partial("/partials/case-study-cards/jensonr")

= partial("/partials/testimonials/marty")
