---
title: "Sketch Tricks &mdash; Grid North Design"
priority: "0.6"
---

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h1
          Sketch Tricks
        %h2
          Articles & resources for designers that use Sketch.

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h3
          About Cabify
        %p
          Cabify is a Spanish startup that designs and develops apps for personal transportation. Today, Cabify is available in Spain, Chile, Mexico and Peru. It's had more than 100,000 downloads of its apps globally since launch, and raised an $8 million Series A to accelerate growth in Latin America. Cabify was recognised as one of Europe’s fastest growing startups by The Next Web.

= partial("/partials/testimonials/laura")
