---
title: "trivago User Research training | Grid North Design"

description: "Testing a feature for the map."

priority: "0.4"
---

%section
  .container
    :markdown
      # trivago User Research training

      * Project length: 2 months <em>(May - Jun 2019)</em>

%section
  .container
    :markdown
      ## Testing a feature for the map

      The User Research team at trivago launched a pilot training for those interested in conducting their own user tests. The training included writing a test plan, setting up a test on UserTesting.com, analysing the data and reporting the findings.

      At the time I was also working on a feature for the trivago map, <strong>allowing users to see what places are nearby their hotel</strong>. Restaurants, shops, attractions etc. So they can better plan their hotel stay.

      The name of this feature is called “What's nearby”. So I used this training as an opportunity to assess the effectiveness of the copy, as an entry point for adding places to the map.

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-user-research-training/prototype-screens.jpg", alt: "Exploring places nearby your hotel", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-user-research-training/prototype-screens@2x.jpg"}}/
  %figcaption
    %small
      Explore restaurants, shops, attractions etc. All nearby your hotel.

%section
  .container
    :markdown
      ## Test plan

      To test the effectiveness of the button “What’s nearby”, I would measure the answers participants give to task 4:

      <em>“Without tapping anything yet, what do you think the button ‘What’s nearby’ does? Why?”</em>

      The participant needs to correctly identify that “What’s nearby” is for adding places to the map, <strong>before</strong> tapping on the button.

      <a href="https://www.notion.so/Test-plan-What-s-nearby-copy-as-an-entry-point-for-adding-places-to-the-map-2ac34b21e5624321ba727b4bf924c052" target="_blank">Open the complete test plan</a>

%section
  .container
    :markdown
      ## Findings, and the updated design

      5/7 participants understood that “What's nearby” was for adding places to the map. But some participants thought that places would only be shown near the selected hotel.

      So Joy Kordts, UX Writer at trivago, decided to change the copy of the button to “Explore this area”. To make it clearer that you’re searching for places within the visible map area. Not just near the selected hotel.

%section.c-media
  %figure
    .c-media__iframe
      <iframe src="https://player.vimeo.com/video/423361440?transparent=0&title=0&byline=0&portrait=0" width="640" height="1140" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %figcaption
    %small
      “Explore this area” makes it clearer that you're searching within the visible map area. Not just near the selected hotel.

%section
  .container
    :markdown
      ## Conclusion

      What I found most challenging is writing the task questions. Being able to clearly guide the user through the prototype, whilst not biasing them or prompting them in any way.

      For example, if you wanted to find out if users understand how to use the search function within your product. The question itself shouldn’t mention the word “search”. As that’s already prompting the user.

      You also need to take into account that you might need to guide users just incase they don’t find the search function. So, for example, your next question could begin with “If you haven’t done so already, please tap on the search button…” So you give the user time to find the search button without prompting them, but then guide the user in the next question so they’re able to continue with the rest of the test.

= partial("/partials/back-to-projects")
