---
title: "trivago Price alerts | Grid North Design"

description: "Notifying users when hotel prices drop."

priority: "0.4"
---

%section
  .container
    :markdown
      # trivago Price alerts

      * Project length: Less than 1 month <em>(Nov 2019)</em>
      * Team: 5 members (Android Engineer, Designer, UX Writer, Product Manager, QA)
      * Platform: Android app

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-price-alerts/hotel-price-alerts.jpg", alt: "Hotel price alerts", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-price-alerts/hotel-price-alerts@2x.jpg"}}/
  %figcaption
    %small
      The original notification copy was written by UX Writer, Joy Kordts.

%section
  .container
    :markdown
      ## Notifying users when hotel prices drop

      In the later half of 2019, trivago started working on app price alerts. As a way to strengthen its position in price comparison. Users are notified when hotel prices drop (minimum of 10%), and the original notification copy was written by UX Writer, Joy Kordts:

      <em>Price Alert for BEI Hotel San Francisco<br>
      We've detected a 20% drop in price!<br>
      It's a great time to book: we kept an eye on this place and caught a drop in price for stays from Oct 30 to Oct 31.</em>

      In addition to this notification, we also wanted to test two more variations:

      1. Hotel price alerts (including a photo of the hotel).
      2. Destination price alerts: when the average hotel price has dropped within a location.

      Based on the original notification by Joy, I worked on the copy for the other two variations. Using the ”front-loading” writing technique, where the important information is provided first.

%section
  .container
    :markdown
      ## Hotel price alerts (including a photo of the hotel)

      In Android, notifications that include images can only have a two-lines of text: a one-line heading, and one-line of additional text to support the heading. Because the copy truncates, the price drop amount and dates are shown at the beginning of the sentence:

      <em>20% price drop for De L'Europe Amsterdam - The Leading Hotels of the World<br>
      For stays from Oct 30 to Oct 31.</em>

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-price-alerts/hotel-price-alerts-image.jpg", alt: "Hotel price alerts (including a photo of the hotel)", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-price-alerts/hotel-price-alerts-image@2x.jpg"}}/
  %figcaption
    %small
      Key information is shown first, so if the text is truncated it's still visible to the user.

%section
  .container
    :markdown
      ## Destination price alerts

      <em>20% price drop for stays in Amsterdam<br>
      Accommodation in Amsterdam: the average price has dropped 20%, for stays from Oct 30 to Oct 31.</em>

      For the heading, there's a chance that “Amsterdam” will be hidden to the user due to truncation. So on the very next line, “Accommodation in Amsterdam” is shown first. Meaning the key message is still communicated.

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-price-alerts/destination-price-alerts.jpg", alt: "Destination price alerts", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-price-alerts/destination-price-alerts@2x.jpg"}}/
  %figcaption
    %small
      The name of the destination is still clearly communicated, even if the header is truncated.

%section
  .container
    :markdown
      ## A/B testing the variations

      Both the standard hotel price alert (written by Joy Kordts) and the destination price alert tests were qualified.

      Although I can’t share exact numbers, key business metrics increased, including: clickout rate (users leaving trivago to visit a partner website, for example Hotels.com), booking conversion, and interaction with hotel content. We were also comparing other conversion metrics, including the push notification open rate, bounce rate, and the impact on app uninstalls.

%section
  .container
    :markdown
      ## Conclusion

      I had previously taken an internal UX Writing workshop from Joy Kordts, so as a followup I wanted to work on a copy-specific task.

      I found it challenging to write with the constraints of character limit, but the same constraints were also helpful. I think the task would have been harder if there were no restrictions in terms of format.

= partial("/partials/back-to-projects")
