---
title: "trivago Unfavourite icon | Grid North Design"

description: "Removing hotels from a list."

priority: "0.4"
---

%section
  .container
    :markdown
      # trivago Unfavourite icon

      * Project length: Less than 1 month <em>(Jun 2017)</em>
      * Team: 2 members (User Researcher, Designer)
      * Platform: Android app

%section
  .container
    :markdown
      ## Hotel lists

      I joined trivago in January 2017, and one of the first projects that I worked on was hotel lists. trivago is an accommodation metasearch, and a common problem users face is narrowing down their list of results. Hotel lists address this problem by allowing users to save their favourite hotels.

      Hotels are favourited by tapping on a heart icon. If the hotel is located in “Berlin”, then a list for “Berlin” is automatically created.

%section.c-media
  %figure
    .c-media__iframe
      <iframe src="https://player.vimeo.com/video/433731739?transparent=0&title=0&byline=0&portrait=0" width="640" height="1138" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %figcaption
    %small
      Hotels are added to a list by tapping on a heart icon.

%section
  .container
    :markdown
      ## Removing hotels from a list

      Once a hotel has been added to a list, how do you communicate to the user that it can be removed? A common pattern in other products is that you tap on the heart icon again to unfavourite it. But is that clear to users? I wanted to test it.

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-unfavourite-icon/versions-tested.jpg", alt: "Versions tested", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-unfavourite-icon/versions-tested@2x.jpg"}}/
  %figcaption
    %small
      Is the heart with “X” icon a clearer signifier for removing a hotel?

%section
  .container
    :markdown
      ## First-click test

      At the time, I hadn't launched a user test before, so I reached out to a member of the user research team to help me set one up. I was introduced to the first-click test, writing a scenario, and the data points we'd get back from the test. I mocked up three icon variations:

      1. <em>Heart only</em> icon
      2. <em>“X” only</em> icon
      3. <em>Combined heart and “X”</em> icon

      The idea being that the “X” helps to signify that you're removing a hotel from the list. Something else I learnt was that it's important to have all three variations be exactly the same, except for the difference that you're testing. So I made sure the screens were identical, except for the different icon.

      More errors were made with the heart only icon, and it also took participants longer to complete the task. <strong>Both icon variations that included the “X” were clearest</strong>, with 20/20 participants understanding how to remove a hotel from the list.

%section.c-media
  %figure
    %img{src: "/images/projects/trivago-unfavourite-icon/user-test-results.jpg", alt: "User test results", data: {at2x: "https://gridnorthdesign.com/images/projects/trivago-unfavourite-icon/user-test-results@2x.jpg"}}/
  %figcaption
    %small
      The heart with “X” icon, on the right, performed strongest.

%section
  .container
    :markdown
      ## Prototyping the interaction

      Using the findings from the test, I prototyped the interaction of unfavouriting a hotel from a list.

%section.c-media
  %figure
    .c-media__iframe
      <iframe src="https://player.vimeo.com/video/422086465?transparent=0&title=0&byline=0&portrait=0" width="640" height="1138" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %figcaption
    %small
      Prototyping the interaction of unfavouriting a hotel. Based on the findings from the test.

%section
  .container
    :markdown
      ## Conclusion

      Although this was a relatively simple test, it's one that's very memorable for me, because it was my first introduction to usability testing. I learnt how to setup a first-click test, the importance of a well-worded scenario and task, and how to structure and write-up the findings.

= partial("/partials/back-to-projects")
