.c-project-card.cabify
  %a.c-project-card__link{href: "/projects/cabify"}
  .c-project-card__details
    %small
      <span>Cabify</span><br>
      Your private car and driver<br>
      <em>Apr 2013 - Aug 2014</em>
