.c-project-card.gnarbox-part-2
  %a.c-project-card__link{href: "/projects/gnarbox-part-2"}
  .c-project-card__details
    %small
      <span>GNARBOX (Part 2)</span><br>
      Editing photos and videos<br>
      <em>Feb 2015 - Dec 2016</em>
