.c-card.gnarbox-part-1
  %a.c-card__link{href: "/projects/company-projects/gnarbox-part-1"}
  .c-card__details
    %small
      <span>GNARBOX (Part 1)</span><br>
      Managing HD content<br>
      <em>Feb 2015 - Dec 2016</em>
