.c-card.kinex
  %a.c-card__link{href: "/projects/personal-projects/kinex"}
  .c-card__details
    %small
      <span>Kinex</span><br>
      Independent living product<br>
      <em>Aug 2011 - Dec 2012</em>
