.c-project-card.kinex
  %a.c-project-card__link{href: "/projects/kinex"}
  .c-project-card__details
    %small
      <span>Kinex</span><br>
      Independent living product<br>
      <em>Aug 2011 - Dec 2012</em>
