.c-card.richard-writes
  %a.c-card__link{href: "/projects/personal-projects/richard-writes"}
  .c-card__details
    %small
      <span>Richard Writes</span><br>
      Poetry & short stories<br>
      <em>2018 - Present</em>
