.c-card.sketch-to-html
  %a.c-card__link{href: "/projects/personal-projects/sketch-to-html"}
  .c-card__details
    %small
      <span>Sketch to HTML</span><br>
      Web development service<br>
      <em>2015 - 2016</em>
