.c-project-card
  %a.c-project-card__link{href: "/projects/sketch-to-html"}
  .c-project-card__details
    %small
      <span>Sketch to HTML</span><br>
      Web development service<br>
      <em>2015 - 2016</em>
