.c-project-card
  %a.c-project-card__link{href: "/projects/sketch-tricks"}
  .c-project-card__details
    %small
      <span>Sketch Tricks</span><br>
      Resources for designers<br>
      <em>2013 - 2015</em>
