.c-card.sketch-tricks
  %a.c-card__link{href: "/projects/personal-projects/sketch-tricks"}
  .c-card__details
    %small
      <span>Sketch Tricks</span><br>
      Resources for designers<br>
      <em>2013 - 2015</em>
