.c-project-card.trivago-deals-navigation
  %a.c-project-card__link{href: "/projects/trivago-deals-navigation"}
  .c-project-card__details
    %small
      <span>trivago Deals navigation</span><br>
      Launching a followup usability test<br>
      <em>Apr 2019</em>
