.c-project-card
  %a.c-project-card__link{href: "/projects/trivago-user-research-training"}
  .c-project-card__details
    %small
      <span>trivago User Research training</span><br>
      Testing a feature for the map<br>
      <em>May - Jun 2019</em>
