.c-card.trivago-app-redesign.featured
  %a.c-card__link{href: "/projects/company-projects/trivago-app-redesign"}
  .c-card__details
    %small
      <span>trivago App redesign</span><br>
      Increasing business value depth<br>
      <em>Aug - Nov 2017</em>
