.c-project-card
  %a.c-project-card__link{href: "/projects/trivago-sprint-facilitation"}
  .c-project-card__details
    %small
      <span>trivago Sprint facilitation</span><br>
      One-day Design Sprint<br>
      <em>Apr 2019</em>
