.c-card.trivago-sprint-facilitation
  %a.c-card__link{href: "/projects/company-projects/trivago-sprint-facilitation"}
  .c-card__details
    %small
      <span>trivago Sprint facilitation</span><br>
      One-day Design Sprint<br>
      <em>Apr 2019</em>
