.c-card.trivago-price-alerts
  %a.c-card__link{href: "/projects/trivago-price-alerts"}
  .c-card__details
    %small
      <span>trivago Price alerts</span><br>
      Front-loading push notification copy<br>
      <em>Nov 2019</em>
