.c-card.trivago-user-research-training
  %a.c-card__link{href: "/projects/company-projects/trivago-user-research-training"}
  .c-card__details
    %small
      <span>trivago User Research training</span><br>
      Testing a feature for the map<br>
      <em>May - Jun 2019</em>
