.c-card.trivago-deals-navigation
  %a.c-card__link{href: "/projects/company-projects/trivago-deals-navigation"}
  .c-card__details
    %small
      <span>trivago Deals navigation</span><br>
      Launching a followup usability test<br>
      <em>Apr 2019</em>
