.c-project-card
  %a.c-project-card__link{href: "/projects/trivago-privacy-settings"}
  .c-project-card__details
    %small
      <span>trivago Privacy settings</span><br>
      Small UI adjustment<br>
      <em>Nov 2018</em>
