.c-card.trivago-privacy-settings
  %a.c-card__link{href: "/projects/trivago-privacy-settings"}
  .c-card__details
    %small
      <span>trivago Privacy settings</span><br>
      Small UI adjustment<br>
      <em>Nov 2018</em>
