.c-project-card
  %a.c-project-card__link{href: "/projects/trivago-unfavourite-icon"}
  .c-project-card__details
    %small
      <span>trivago Unfavourite icon</span><br>
      Removing hotels from a list<br>
      <em>Jun 2017</em>
