---
title: "Page not found | Grid North Design"
---

%section
  .container
    :markdown
      # Sorry, page not found.
      
      <em>How about a magic trick instead?</em>

    = partial("/partials/magic-trick")
