---
title: "Page Not Found &mdash; Grid North Design"
---

%section
  .container
    .row
      .col-sm-3.col-sm-offset-1
        %img{src: "/images/404/tennis-player.png", alt: "Tennis player", data: {at2x: "http://gridnorthdesign.com/images/404/tennis-player@2x.png"}}/
      .col-sm-7
        %h1.t-margin-top--20
          Out! Page not found...
        %h2
          But don't worry, you're up 40-0 and have a second serve!
