---
title: "Page Not Found &mdash; Grid North Design"
changefreq: "monthly"
priority: "0.4"
---

%section
  .container
    .row
      .col-md-3.col-md-offset-1
        %img{src: "/images/404/tennis-player.png", alt: "Tennis player"}/
      .col-md-7
        %h1.t-margin-top--20
          Out! Page not found...
        %h2
          But don't worry, you're up 40-0 and have a second serve!
