---
title: "Page Not Found &mdash; Grid North Design"
---

%section
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h1.t-margin-bottom--40
          Sorry! Page not found. How about a magic trick instead?
        %p
          I'm a big fan of David Blaine, and this is a trick that he sometimes performs on stage. It doesn't work for everyone, but let's give it a try:
        %ol
          %li
            Think of something you like to eat for dessert, not something you'd eat at home like ice cream, but something you'd order at a restaurant like tiramisu.
          %li
            Take the last letter of your dessert. With that letter, can you think of a US President whose last name begins with that letter? Think Nixon, Lincoln, Reagan, Jefferson, Washington, Eisenhower, McKinley.
          %li
            Take the 2nd letter of the President's last name, now think of a colour that begins with that letter.
        %p
          So you should now be thinking of a colour. Do you have one? Now, I don't think it would be an obvious colour. You’ll be thinking of a colour that’s harder to guess.
        %a.c-btn--large.t-margin-top--50{href: "https://www.instagram.com/p/BFWgKt7vD4O", target: "_blank"}
          Reveal my prediction
