---
title: "Page Not Found | Grid North Design"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ### Sorry! Page not found. How about a magic trick instead?

          Aside from design, I love magic! :) This is a trick from David Blaine that he sometimes performs on stage. Let's give it a try:

          1. Think of something you like to eat for dessert, not something you'd eat at home like ice cream, but something you'd order at a restaurant like tiramisu.
          2. Take the last letter of your dessert. With that letter, can you think of a US President whose last name begins with that letter? Think Nixon, Lincoln, Reagan, Jefferson, Washington, Eisenhower, McKinley, etc.
          3. Take the 2nd letter of the President's last name, now think of a colour that begins with that letter.

          So you should now be thinking of a colour. Do you have one? Now, I don't think it would be an obvious colour, it's going to be harder to guess. When you're ready, <a href="https://twitter.com/thisincludes/status/1078003119940923392" target="_blank">reveal my prediction</a>.
