---
title: "About &mdash; Grid North Design"
priority: "0.8"
---

%section
  .container
    .row
      .col-sm-10
        %h1
          Who's Richard Child?
        %h2
          Hello there! I'm a designer that explains the “why” behind my work, so you can better understand your business.

%section
  .container
    .row
      .col-sm-4.col-sm-push-8.t-text--center
        %img.c-avatar{src: "/images/avatar.jpg", alt: "Richard Child", data: {at2x: "http://www.gridnorthdesign.com/images/avatar@2x.jpg"}}/
      .col-sm-8.col-sm-pull-4
        %h3
          About
        %p
          Grid North Design is a one-man band, and I really care about every project I work on. I actually studied 3D Design at University, but one day we were asked to build an online portfolio, using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning website development on Treehouse, and I was hooked from there.
        %p
          After switching career paths, my first job was for Cabify, a Spanish startup based in Madrid. Cabify designs and develops apps for personal transportation, and I got to work on redesigning their iPhone and Android apps. At the time, Cabify had more than 100,000 downloads of its app globally, and raised an $8 million Series A. I can’t thank Cabify enough for giving me that opportunity, and for making me feel welcome.
        %p
          One of my greatest achievements is cycling from Falmouth to Milan, raising money for charity. The <a href="https://goo.gl/maps/HZ5zE" target="_blank">route was over 1000 miles</a>, taking our team 2 weeks to complete. I finished my first half marathon well under 2 hours, with a time of 1:59:59.

%section
  .container
    %img.t-border-radius--medium{src: "/images/about/netmag.jpg", alt: "Net magazine article", data: {at2x: "http://www.gridnorthdesign.com/images/about/netmag@2x.jpg"}}/
    %small.c-caption
      My article for designers in an issue of Net magazine.

%section
  .container
    .row.c-two-columns
      .col-sm-3.t-text--center
        %img.t-border-radius--round{src: "/images/about/sketchtricks-logo.png", alt: "Sketch Tricks", data: {at2x: "http://www.gridnorthdesign.com/images/about/sketchtricks-logo@2x.png"}}/
        %small.c-caption
          Sketch Tricks logo.
      .col-sm-8.col-sm-offset-1
        %h3
          Personal projects
        %p
          Below are some examples of personal projects that I’m no longer involved in. Going forward, I’ll be focusing all my efforts on <a href="http://www.refreshyourwebsite.com" target="_blank">Refresh Your Website</a>, helping non-designers learn more about web design.
        %h5
          Sketch Tricks (sold to Marko Vuletić)
        %p
          Sketch is a piece of design software that designers use to create websites, apps, icons etc. When Sketch was new, I setup a website called Sketch Tricks, providing articles and resources for designers.
        %p
          A Medium publication was created, so that designers could contribute articles to the project. Once an article had been submitted, it was added to the website and shared amongst the community.
        %p
          Before selling Sketch Tricks, it had reached 5500+ Twitter followers, 2300+ Medium followers and 3700+ email subscribers.
        %p
          Recently, I was asked to write an article for Net magazine, on the subject of website guidelines. The article explains how to create guidelines using Sketch. If you use Sketch, you can <a href="http://www.creativebloq.com/web-design/build-pattern-library-sketch-101517315" target="_blank">read the article online</a>. Let me know what you think!
        %h5
          Sketch to HTML (sold to Xfive)
        %p
          A good friend of mine, Michael Koper, asked me if I wanted to start a website development service, for designers that use Sketch. Sketch is a piece of design software that’s growing in popularity. I’d previously seen PSD to HTML services, so a Sketch to HTML service made sense.
        %p
          I’m comfortable working with HTML & CSS, but Michael is the lead developer on this project, as he’s a talented full-stack developer. Since launch, Sketch to HTML has proven to be popular, with a large amount of enquiries coming through the website.

= partial("/partials/testimonials/marty")
