---
title: "About | Grid North Design"

description: "I studied 3D Design at University, but one day we were asked to build an online portfolio using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning web development on Treehouse."

priority: "0.8"
---

%section
  .container
    :markdown
      # About Richard*

      <strong><em>*(That's me!)<em><strong>
      
      Hi, I'm Richard Child, and if you have a little time I'd like to introduce myself.
      
      I studied 3D Design at University, but one day we were asked to build an online portfolio using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning web development on Treehouse.

%section
  .container
    :markdown
      Whilst living in Düsseldorf I joined a writing group, and since then I’ve been writing poetry and short stories. As an example, here’s a limerick that I wrote:

      *Did you hear about a man called John*<br>
      *Who makes tea every morning at dawn*<br>
      *He stares at the kettle*<br>
      *As dust starts to settle*<br>
      *Maybe he should try turning it on?*

      I’ve always loved Limericks. Douglas Adams is my favourite author, and it’s that style of humour that I enjoy. You can read more of my writing over at <a href="http://richardwrit.es" target="_blank">Richard Writes</a>.

      Aside from design, I also enjoy magic. Every Christmas I play cards with my family, so I decided to learn how to shuffle properly by watching videos on YouTube. I probably shouldn’t distract you, but how about a magic trick?

      One of my greatest achievements is cycling from Falmouth to Milan, raising money for charity. The <a href="https://goo.gl/maps/HZ5zE" target="_blank">route was over 1000 miles</a>, taking our team 2 weeks to complete. I finished my first half marathon well under 2 hours, with a time of 1:59:59.
