---
title: "About | Grid North Design"

description: "One of my greatest achievements is cycling from Falmouth to Milan, raising money for charity."

priority: "0.8"
---

%section
  .container
    .row
      .col-sm-4.col-sm-push-8.u-text--center
        %img.c-avatar{src: "/images/avatar.jpg", alt: "Richard Child", data: {at2x: "https://www.gridnorthdesign.com/images/avatar@2x.jpg"}}/
      .col-sm-8.col-sm-pull-4
        :markdown
          ## About Richard Child (that's me!)

          I studied 3D Design at University, but one day we were asked to build an online portfolio using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning web development on Treehouse.

          Whilst living in Düsseldorf I joined a writing group, and since then I’ve been writing poetry and short stories. As an example, here’s a limerick that I wrote:

          *Did you hear about a man called John*
          *Who makes tea every morning at dawn*
          *He stares at the kettle*
          *As dust starts to settle*
          *Maybe he should try turning it on?

          I’ve always loved Limericks. Douglas Adams is my favourite author, and it’s that style of humour that I enjoy. You can read more of my writing over at Richard Writes.

          Aside from design, I also enjoy magic. Every Christmas I play cards with my family, so I decided to learn how to shuffle properly by watching videos on YouTube. I probably shouldn’t distract you, but how about a magic trick?

          One of my greatest achievements is cycling from Falmouth to Milan, raising money for charity. The <a href="https://goo.gl/maps/HZ5zE" target="_blank">route was over 1000 miles</a>, taking our team 2 weeks to complete. I finished my first half marathon well under 2 hours, with a time of 1:59:59.
