---
title: "About &mdash; Grid North Design"
priority: "0.8"
---

%section
  .container
    .row
      .col-sm-10
        %h1
          Who's Richard Child?

%section
  .container
    .row
      .col-sm-4.col-sm-push-8.t-text--center
        %img.c-avatar{src: "/images/avatar.jpg", alt: "Richard Child", data: {at2x: "http://www.gridnorthdesign.com/images/avatar@2x.jpg"}}/
      .col-sm-8.col-sm-pull-4
        %p
          Grid North Design is a one-man band, and I really care about every project I work on. I actually studied 3D Design at University, but one day we were asked to build an online portfolio, using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning website development on Treehouse, and I was hooked from there.
        %p
          After switching career paths, my first job was for Cabify, a Spanish startup based in Madrid. Cabify designs and develops apps for personal transportation, and I got to work on redesigning their iPhone and Android apps. At the time, Cabify had more than 100,000 downloads of its app globally, and raised an $8 million Series A. I can’t thank Cabify enough for giving me that opportunity, and for making me feel welcome.
        %p
          One of my greatest achievements is cycling from Falmouth to Milan, raising money for charity. The <a href="https://goo.gl/maps/HZ5zE" target="_blank">route was over 1000 miles</a>, taking our team 2 weeks to complete. I finished my first half marathon well under 2 hours, with a time of 1:59:59.

%section
  .container
    %img.t-border-radius--medium{src: "/images/case-studies/sketchtricks/netmag.jpg", alt: "Net magazine article", data: {at2x: "http://www.gridnorthdesign.com/images/case-studies/sketchtricks/netmag@2x.jpg"}}/
    %small.c-caption
      My Sketch tutorial for designers in an issue of Net magazine.

= partial("/partials/testimonials/marty")
