---
title: "About | Grid North Design"

description: "One of my greatest achievements is cycling from Falmouth to Milan, raising money for charity."

priority: "0.8"
---

%section
  .container
    .row
      .col-sm-4.col-sm-push-8.u-text--center
        %img.c-avatar{src: "/images/avatar.jpg", alt: "Richard Child", data: {at2x: "http://www.gridnorthdesign.com/images/avatar@2x.jpg"}}/
      .col-sm-8.col-sm-pull-4
        :markdown
          ### About Richard Child

          I actually studied 3D Design at University, but one day we were asked to build an online portfolio, using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning website development on Treehouse.

          After switching career paths, my first job was for Cabify, a Spanish startup based in Madrid. Cabify designs and develops apps for personal transportation, and I got to work on redesigning their iPhone and Android apps. At the time, Cabify had <em>more than 100,000 downloads</em> of its app globally, and raised an $8 million Series A.

          I love working on side projects, and I’ve launched and sold my last two. The first was Sketch Tricks, a website that provides articles and resources for designers that use Sketch software. Before selling Sketch Tricks to Marko Vuletić, it had reached 5500+ Twitter followers, 2300+ Medium followers and 3700+ email subscribers. As a result, <em>I was asked to write a Sketch tutorial for Net magazine</em>.

          The second was Sketch to HTML, a website development service. I’d previously seen PSD to HTML services, so it made perfect sense to launch a similar service for Sketch. Sketch to HTML has proven to be popular, with a large amount of enquiries coming through before selling to Xfive.

          One of my greatest achievements is cycling from Falmouth to Milan, raising money for charity. The <a href="https://goo.gl/maps/HZ5zE" target="_blank">route was over 1000 miles</a>, taking our team 2 weeks to complete. I finished my first half marathon well under 2 hours, with a time of 1:59:59.
