---
title: "Contact | Grid North Design"

description: "You can say hello via email, LinkedIn, or Twitter."

priority: "0.8"
---

%section
  .container
    :markdown
      # Contact

      You can say hello via email, LinkedIn, or Twitter:

      * <a href="mailto:richard&#64;gridnorthdesign.com">richard&#64;gridnorthdesign.com</a>
      * <a href="https://linkedin.com/in/rjchild" target="_blank">LinkedIn</a>
      * <a href="https://twitter.com/RJ_Child" target="_blank">Twitter</a>
