---
title: "Cookie Policy | Grid North Design"

description: "Cookies are small text files placed on your device when you visit our site."

priority: "0.4"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ### Cookie Policy

          Cookies are small text files placed on your device when you visit our site. We use cookies to recognise you and your preferences, improve our site's performance and collect analytical information for ourselves and our business partners.

          ##### 1. “Session” and “Persistent” Cookies

          “Session cookies” allow us to track your actions during a single browsing session, but they do not remain on your device afterwards.

          “Persistent cookies” remain on your device between sessions. We use them to authenticate you and to remember your preferences. We can also use them to balance the load on our servers and improve your experience on our site.

          Session and persistent cookies can be either first or third party cookies. A first-party cookie is set by the website being visited; a third-party cookie is set by a different website. Both types of cookie may be used by us or our business partners.

          ##### 2. Disclaimer

          All our cookies fall within the classifications Strictly Necessary, Functionality and Performance. None are classified as Behavioural Targeting.

          If at any time you wish to disable our cookies, you may do so through the settings on your browser [but if you do so you will not be able to use certain important features of our service].
