---
priority: "1"
---

%section.c-intro
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %h1
          Travel business? Stop fighting templates and learn how design can <span>solve problems</span>
  .intro__arrow
    %a.scroll{href: "#newsletter"}
      %img{src: "/images/intro-arrow.svg"}/

%section#newsletter
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ### A monthly newsletter on mobile design

          A well-designed mobile app is crucial for improving customer retention. You understand this and value great design, but <em>getting started can feel daunting</em>. All you want is to learn how to make real progress from a professional. That’s why I focus on sending you actionable articles on mobile design every month.

          From customer onboarding and app notifications, to mobile design best practices, you’ll get in-depth articles that’ll <em>wow your customers</em>. My goal is to make it as easy as possible for you to start making significant changes to your business.

          Grid North Design is a solo business run by Richard Child (that’s me!), a mobile designer who’s <strong>worked in the travel industry for over 3 years</strong>. Previous clients include: Cabify, GNARBOX, Accent, JensonR+ and Nusii. Sign up now to get in-depth guides, articles, and downloadable resources on mobile design for travel businesses.

        %form.c-form{action: "//gridnorthdesign.us3.list-manage.com/subscribe/post?u=48d252a5dc52e58fa1fce06ec&amp;id=18dc9c98bf", method: "post", target: "_blank", novalidate: ""}
          %input.c-form__input{name: "EMAIL", placeholder: "Email address...", type: "email", value: ""}/
          %input{name: "LOCATION", type: "hidden", value: "Home"}/
          %input.c-form__btn{name: "subscribe", type: "submit", value: "Sign up"}/
          %small.c-form__unsubscribe
            No spam, ever. Unsubscribe at any time.

= partial("/partials/testimonials/tim-1")
