---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-8
        %h1
          Small-mid sized business? Struggling to understand the “why” behind design work?
        %h2
          I’m Richard Child, a web &amp; mobile designer with 5+ years experience!
      .col-md-4
        %img.c-avatar{src: "/images/avatar.jpg", alt: "Richard Child"}/

%section
  .container
    .row
      .col-md-8
        %h3
          The problem
        %p
          As a business owner, you know your numbers and have a strong understanding of how your business works. But, what about your website/app? Websites and apps play such an important role in business today, can you really afford not to understand how yours was designed?
        %p
          You’ve worked with designers in the past, but design debates were based on aesthetics. Design isn’t art. Debating is healthy, as long as it’s focused on what’s important.
      .col-md-4
        %img{src: "/images/homepage/problem.png", alt: "The problem"}/
    .row
      .col-md-4
        %img{src: "/images/homepage/solution.png", alt: "My solution"}/
      .col-md-8
        %h3
          My solution
        %p
          Our first meeting will be to discuss the business goals of the project. What’s wrong with your current website/app? Why do you want to spend money on a redesign? Why are you hiring me?
        %p
          During the process, I’ll deliver documents that outline my design thinking. Every decision I make will relate back to the answers you gave in our first meeting. Making sure that you understand the “why” behind my work.
    .row
      .col-md-8
        %h3
          Why choose me?
        %p
          By designing based on pricinples, websites and apps I design become far easier to use. These principles are important to me, and lay the foundation for every project that I work on.
        %p
          As I continue to learn, these principles will be updated. In the future, I plan on writing about them in more detail. Below you can read a few examples.
      .col-md-4
        %img{src: "/images/homepage/why-me.png", alt: "Why choose me?"}/

%section
  .container
    .row
      .col-md-6.col-md-offset-3
        %h3
          Examples of design principles
        %p
          Websites and apps reflect the values of their designers. Here are a few of mine.
    .row
      .col-md-5
        %h4
          1. Accessibility
        %p
          I make sure that there’s enough contrast between colours, and that they pass Web Content Accessibility Guidelines.
      .col-md-6.col-md-offset-1
        %img{src: "/images/homepage/accessibility.png", alt: "Accessibility"}/
    .row
      .col-md-6
        %img{src: "/images/homepage/readability.png", alt: "Readability"}/
      .col-md-5.col-md-offset-1
        %h4
          2. Readability
        %p
          Font choice, font size, line length and line height. I focus on getting these details right to ensure text is easy to read.
    .row
      .col-md-5
        %h4
          3. Make it obvious
        %p
          As an example, sometimes an icon alone isn’t obvious. By simply adding text next to the icon, everyone now knows what it does.
      .col-md-6.col-md-offset-1
        %img{src: "/images/homepage/obvious.png", alt: "Make it obvious"}/

= partial("/partials/testimonials/nathan")
