---
priority: "1"
---

%section
  .container
    :markdown
      # Hello, I'm Richard Child, Product Designer

      I've been a designer for <em>7+ years</em>, and during that time I've worked both full-time and as a freelancer for companies including <em>trivago, Cabify and GNARBOX</em>. I also enjoy working on personal projects. Currently, I'm writing and sharing poetry and short stories over at <a href="http://richardwrit.es" target="_blank">Richard Writes</a>.

      I actually studied 3D Design at University, but one day we were asked to build a digital portfolio using tools such as Moonfruit and Wix. I remember being annoyed that I couldn’t customise the design, so I started learning web development on Treehouse.

    %a.c-call-to-action{href: "/projects"}
      Go to Projects
      %img#header-logo{src: "/images/compass.svg", "data-no-retina" => ""}/
