---
priority: "1"
---

%section
  .container
    :markdown
      # Hello 👋 I'm Richard Child, UX/UI Designer

      I've been a designer for 6+ years, and during that time I've worked both full-time and as a freelancer for companies including trivago, Cabify and GNARBOX. I also have experience with user research, front-end development and writing. As I believe that learning about other disciplines makes me a better designer.

      I also enjoy working on personal projects. Currently, I'm writing and sharing poetry and short stories over at <a href="http://richardwrit.es" target="_blank">Richard Writes</a>. Back in 2013 when Sketch (software for designers) was new, I started Sketch Tricks. Where I wrote articles and shared resources to help designers improve their Sketch workflow. As a result, I was asked to write a Sketch tutorial for Net magazine.

    %a.c-call-to-action{href: "/projects"}
      Projects I've worked on &#10142;

= partial("/partials/testimonials/tim-1")
