---
priority: "1"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          # Travel business? Stop fighting templates and learn how design can solve problems

          A well-designed mobile product is crucial for improving customer retention. You understand this and value great design, but <em>getting started can feel daunting</em>. All you want is to learn how to make real progress from a professional.

          From customer onboarding and app notifications, to mobile design best practices, my goal is to make it as easy as possible for you to start making significant changes to your business.

          Grid North Design is run by Richard Child (that’s me!), a mobile designer who’s <strong>worked in the travel industry for over 4 years</strong>. Previous clients include: GNARBOX, Accent, Nusii, JensonR+ and more. I've worked on redesigning Cabify's iPhone and Android apps, and currently I'm part of the team responsible for trivago's Hotel Search product.

= partial("/partials/testimonials/tim-1")
