---
title: "Indigo | Grid North Design"
---

%section
  .container
    :markdown
      # Indigo

    .c-media.inline
      %img{src: "/images/indigo.jpg", alt: "Indigo", "data-no-retina" => ""}/

    :markdown
      Did I get it right? <a href="/">Go back to the homepage</a> to continue browsing.
