---
title: "Magic | Grid North Design"

description: "This is a trick from David Blaine that he sometimes performs on stage."

priority: "0.4"
---

%section
  .container
    :markdown
      # How about a magic trick?

    = partial("/partials/magic-trick")
