---
title: "Design Principles &mdash; Grid North Design"
priority: "0.8"
---

%section
  .container
    .row
      .col-sm-10
        %h1
          Design principles
        %h2
          Websites and apps reflect the values of their designers. Here are a few of mine.

%section
  .container
    .row.t-margin-top--50
      .col-sm-6.col-sm-offset-1.col-sm-push-5.t-text--center
        %img.t-border-radius--small{src: "/images/principles/accessibility.png", alt: "Accessibility", data: {at2x: "http://www.gridnorthdesign.com/images/principles/accessibility@2x.png"}}/
      .col-sm-5.col-sm-pull-7
        %h4.t-margin-top--50
          1. Accessibility
        %p
          I make sure that there’s enough contrast between colours, and that they pass Web Content Accessibility Guidelines.
    .row.t-margin-top--100
      .col-sm-6.t-text--center
        %img.t-border-radius--small{src: "/images/principles/readability.png", alt: "Readability", data: {at2x: "http://www.gridnorthdesign.com/images/principles/readability@2x.png"}}/
      .col-sm-5.col-sm-offset-1
        %h4.t-margin-top--50
          2. Readability
        %p
          Font choice, font size, line length and line height. I focus on getting these details right to ensure text is easy to read.
    .row.t-margin-top--100
      .col-sm-6.col-sm-offset-1.col-sm-push-5.t-text--center
        %img.t-border-radius--small{src: "/images/principles/obvious.png", alt: "Make it obvious", data: {at2x: "http://www.gridnorthdesign.com/images/principles/obvious@2x.png"}}/
      .col-sm-5.col-sm-pull-7
        %h4.t-margin-top--50
          3. Make it obvious
        %p
          As an example, sometimes an icon alone isn’t obvious. By simply adding text next to the icon, everyone now knows what it does.
    .row.t-margin-top--100
      .col-sm-6.t-text--center
        %img.t-border-radius--small{src: "/images/principles/remove-elements.png", alt: "Remove unnecessary elements", data: {at2x: "http://www.gridnorthdesign.com/images/principles/remove-elements@2x.png"}}/
      .col-sm-5.col-sm-offset-1
        %h4.t-margin-top--50
          4. Remove unnecessary elements
        %p
          Every line, button and paragraph of text should have a reason for being there. If I’m unable to clearly explain an element’s function, I remove it.
    .row.t-margin-top--100
      .col-sm-6.col-sm-offset-1.col-sm-push-5.t-text--center
        %img.t-border-radius--small{src: "/images/principles/consistency.png", alt: "Consistency", data: {at2x: "http://www.gridnorthdesign.com/images/principles/consistency@2x.png"}}/
      .col-sm-5.col-sm-pull-7
        %h4.t-margin-top--50
          5. Consistency
        %p
          I make sure that every element with the same function has a consistent appearance and behaviour.
    .row.t-margin-top--100
      .col-sm-6.t-text--center
        %img.t-border-radius--small{src: "/images/principles/browsability.png", alt: "Browsability", data: {at2x: "http://www.gridnorthdesign.com/images/principles/browsability@2x.png"}}/
      .col-sm-5.col-sm-offset-1
        %h4.t-margin-top--50
          6. Browsability
        %p
          Large headings make your content easy to browse, helping your customers find what they’re looking for as quickly as possible.
    .row.t-margin-top--100
      .col-sm-6.col-sm-offset-1.col-sm-push-5.t-text--center
        %img.t-border-radius--small{src: "/images/principles/navigation.png", alt: "Accessible navigation", data: {at2x: "http://www.gridnorthdesign.com/images/principles/navigation@2x.png"}}/
      .col-sm-5.col-sm-pull-7
        %h4.t-margin-top--50
          7. Accessible navigation
        %p
          Every website or app that I design will have a navigation that’s accessible all the time, no matter where your customer is on the page.
    .row.t-margin-top--100
      .col-sm-6.t-text--center
        %img.t-border-radius--small{src: "/images/principles/mobile-first.png", alt: "Mobile first", data: {at2x: "http://www.gridnorthdesign.com/images/principles/mobile-first@2x.png"}}/
      .col-sm-5.col-sm-offset-1
        %h4.t-margin-top--50
          8. Mobile first
        %p
          Designing mobile first (before tablet and desktop) has constraints, making us focus on the most import sections of your website or app.
    .row.t-margin-top--100
      .col-sm-6.col-sm-offset-1.col-sm-push-5.t-text--center
        %img.t-border-radius--small{src: "/images/principles/familiarity.png", alt: "Familiarity", data: {at2x: "http://www.gridnorthdesign.com/images/principles/familiarity@2x.png"}}/
      .col-sm-5.col-sm-pull-7
        %h4.t-margin-top--50
          9. Familiarity
        %p
          For example, when designing an Android app, I use traditional Android elements, that will already be familiar with your customers.
    .row.t-margin-top--100
      .col-sm-6.t-text--center
        %img.t-border-radius--small{src: "/images/principles/reusability.png", alt: "Reusability", data: {at2x: "http://www.gridnorthdesign.com/images/principles/reusability@2x.png"}}/
      .col-sm-5.col-sm-offset-1
        %h4.t-margin-top--50
          10. Reusability
        %p
          By reusing elements and sections of your website or app, both the design and development is simplified.

= partial("/partials/testimonials/tim-2")
