---
title: "Privacy Policy | Grid North Design"

description: "This is our privacy policy. It tells you how we collect and process data received from you on our site."

priority: "0.4"
---

%section
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ### Privacy Policy

          This is our privacy policy. It tells you how we collect and process data received from you on our site. If you have any comments on this privacy policy, please email them to: [richard@gridnorthdesign.com](mailto:richard@gridnorthdesign.com)

          ##### 1. Who we are

          Here are the details that the Data Protection Act 1998 says we have to give you as a “data controller”:

          Our company name is Grid North Design. Our registered address is 18 Home Farm Road, Fremington, Barnstaple, Devon, EX31 3DH. Our nominated representative is Richard Child.

          ##### 2. What we may collect

          We may collect and process the following data about you:

          * Information you put into forms or surveys on our site at any time.
          * A record of any correspondence between us.
          * Details of transactions you carry out through our site.
          * Details of your visits to our site and the resources you use.
          * Information about your computer (e.g. your IP address, browser, operating system, etc.) for system administration and to report aggregate information to our advertisers.

          ##### 3. Cookies

          We use cookies to distinguish users and improve our site. Please look at our Cookie Policy for more cookie information: [gridnorthdesign.com/cookies](/cookies)

          ##### 4. How we use what we collect

          We use information about you to:

          * Present site content effectively to you.
          * Provide information, products and services that you request, or (with your consent) which we think may interest you.
          * Carry out our contracts with you.
          * Allow you to use our interactive services if you want to.
          * Tell you our charges.
          * Tell you about other goods and services that might interest you. We will also let other people do this, and we (or they) may contact you.

          If you are already our customer, we will only contact you electronically about things similar to what was previously sold to you.

          If you are a new customer, you will only be contacted if you agree to it.

          If you don't want to be contacted for marketing purposes, please click the relevant link that you will find on screen.

          Please note: We don't identify individuals to our advertisers, but we do give them aggregate information to help them reach their target audience, and we may use information we have collected to display advertisements to that audience.

          ##### 5. Where we store your data

          We may transfer your collected data to storage outside the European Economic Area (EEA). It may be processed outside the EEA to fulfil your order and deal with payment.

          By giving us your personal data, you agree to this arrangement. We will do what we reasonably can to keep your data secure.

          Payment will be encrypted. If we give you a password, you must keep it confidential. Please don't share it. Although we try to provide protection, we cannot guarantee complete security for your data, and you take the risk that any sending of that data turns out to be not secure despite our efforts.

          ##### 6. Disclosing your information

          We are allowed to disclose your information in the following cases:

          * If we want to sell our business, or our company, we can disclose it to the potential buyer.
          * We can disclose it if we have a legal obligation to do so, or in order to protect other people's property, safety or rights.
          * We can exchange information with others to protect against fraud or credit risks.

          ##### 7. Your rights

          You can ask us not to use your data for marketing. You can do this by ticking the relevant boxes on our forms, or by emailing us: [richard@gridnorthdesign.com](mailto:richard@gridnorthdesign.com)

          The Data Protection Act 1998 gives you the right to see information we hold about you.

          ##### 8. Links to other sites

          Please note that our terms and conditions and our policies will not apply to other websites that you get to via a link from our site.

          ##### 9. Changes

          If we change our Privacy Policy, we will post the changes on this page.
