---
title: "Test plan | Grid North Design"

description: "Goal: Assess the effectiveness of the copy “What’s nearby” as an entry point for adding places to the map."

priority: "0.7"
---

%section
  .container
    :markdown
      # Test plan: “What's nearby” copy as an entry point for adding places to the map

      ### Goals

      Assess the effectiveness of the copy “What’s nearby” as an entry point for adding places to the map.

      ### Research questions

      How easily do users understand that “What’s nearby” is an entry point for showing places on the map?

      Measure: Completion rate of task 4 (participant correctly identifies that the “What’s nearby” button is for adding places to the map).

      ### Participant characteristics

      <em>Participant type</em>

      * Pilot: 1
      * Regular: 6

      <em>Travel frequency</em>

      * Books at least one hotel per year: All

      <em>Booking experience</em>

      * Book their own trips and accommodation: All
      * Book on their phone using a mobile app: All

      ### Methodology

      Unmoderated remote user testing via UserTesting.com: A panel of participants who have video recording and data collection software installed on their own personal devices open the prototype while thinking aloud, having their experience recorded for immediate playback and analysis by the researcher or company. Participants independently complete the tasks without interaction with the test moderator. Participants complete tasks online and their results are available in an application/system later on.

      ### Scenario

      Imagine you're planning a weekend trip in London for 2 people. You decide to look for accommodation using an accommodation app. You're travelling from 12-14 July (these dates have been preselected for you).

      Prototype URL: <a href="https://richardchild.invisionapp.com/console/share/Z51X5WKMKS" target="_blank">https://richardchild.invisionapp.com/console/share/Z51X5WKMKS</a>

      ### Tasks

      1. Go ahead and search for hotels in London. Please proceed to the next task once the results list has loaded.
      2. You're interested in seeing where these hotels are located in London. How would you do that?
      3. If you haven’t done so already, please tap on the “Map” button to see where these hotels are located in London. Please proceed to the next task once the map has loaded.
      4. Without tapping anything yet, what do you think the button “What’s nearby” does? Why?
      5. Please now tap on the “What’s nearby” button, then proceed to the next task.
      6. Without tapping anything yet, what do you think would happen if you were to select the option “Restaurants”?
      7. Please now tap on the “Restaurants” option. Does what happened meet your expectations? Why?

      <em>General questions</em>

      1. What is your overall impression of using the “What’s nearby” feature? Why?
      2. Is there anything you would add to the map? Why?
