---
title: "Thanks &mdash; Grid North Design"
priority: "0.4"
---

%section.t-margin-bottom--150
  .container
    .row
      .col-sm-10.col-sm-offset-1
        :markdown
          ## Thanks

          I'm probably biased here, but your choice in newsletters is superb! Thank you for signing up. This is where I spend the most time and energy, so it feels great to have you part of the Grid North Design community.
