---
title: "Increasing map usage by 15% | Grid North Design"

description: ""

priority: "0.8"
---

%section
  .container
    :markdown
      # trivago: Increasing map usage by 15%

      * Project length: 3 months (part of a larger location initiative)
      * Team: 5 members (iOS Engineer, Designer, User Researcher, Product Manager, QA)

%section
  .container
    :markdown
      ## Business objective: Make it easier for customers to compare the location of different hotels

      trivago is a metasearch, allowing customers to find the best price for their chosen hotel. The business model is cost per click. So instead of booking on trivago, online travel agencies, hotel chains, and independent hotels pay trivago for referring users to their site. And the benefit to the customer is that they can see a range of prices from different providers.

      But the business objective was to make it easier for customers to compare different hotel options. So the customer is confident they’ve found the right hotel based on amenities, design, rating, location, price etc. Before leaving trivago and going to the advertiser website to make their booking.

      A competitive analysis from the User Research team revealed that trivago was weaker compared to competitors on hotel location. So the focus of the initiative was to make it easier for customers to compare the location of different hotels.

%section
  .container
    :markdown
      ## Problem: The previous map entry point was too hard to find

      As we start to improve the map experience for customers, we additionally wanted to improve the findability of the map entry point. So that customers who are looking for more location information, are able to find the map within the trivago app.

      We knew this was a problem because:

      * Looking at the quantitative app data on the percentage of customers opening the map.
      * The blue map entry point floats above the hotel cards at the bottom of the list, so there’s a lot of competing visual information.

%section
  .container
    :markdown
      ## Initial concepts

      For my initial sketches I tried 2 approaches:

      1. Finding another position for the map entry point that is more obvious. For example, a large entry point at the top of the screen.
      2. Keeping the map entry point in the same position, but thinking about how to make it stand out more. My idea was to make the button itself look more like a map. Which uses the map colours to create more contrast, and connects the button with the map visually.

= partial("/partials/back-to-projects")
