---
title: "Easier hotel comparison using the map | Grid North Design"

description: ""

priority: "0.8"
---

%section
  .container
    :markdown
      # trivago: Easier hotel comparison using the map

      * Project length:

= partial("/partials/back-to-projects")
