---
changefreq: "monthly"
priority: "1"
---

%section
  .container
    .row
      .col-md-10
        %h1
          Website Design
        %h2
          Website design for small-mid sized businesses!

%section.t-margin-top--150
  .container
    .row
      .col-md-6
        .c-services__list.whats-included
          %h3
            What's included?
          %ul
            %li
              .c-services__list__icon
                %img{src: "/images/services/whats-included/business-goals.png", alt: "Business goals"}/
              .c-services__list__details
                %h5
                  Business goals
                %p
                  Questionnaire and Skype call that will define the business goals for your website.
            %li
              .c-services__list__icon
                %img{src: "/images/services/whats-included/design-thinking.png", alt: "Design thinking document"}/
              .c-services__list__details
                %h5
                  Design thinking document
                %p
                  Documentation that clearly explains my thinking behind every design decision, and how it links to your business goals.
            %li
              .c-services__list__icon
                %img{src: "/images/services/whats-included/website-design.png", alt: "Website design for desktop and mobile"}/
              .c-services__list__details
                %h5
                  Website design for desktop and mobile
                %p
                  The big one! You’ll receive a website that’s fantastically usable and designed based on principles, not aesthetics.
            %li
              .c-services__list__icon
                %img{src: "/images/services/whats-included/my-experience.png", alt: "My 5+ years design experience"}/
              .c-services__list__details
                %h5
                  My 5+ years design experience
                %p
                  Last, but by no means least, I’ll be available to review progress, discuss feedback and answer any questions.
      .col-md-6
        .c-services__list.process
          %h3
            Process?
          %ol
            %li
              .c-services__list__icon
                %img{src: "/images/services/process/your-business.png", alt: "Your business"}/
              .c-services__list__details
                %h5
                  1. Your business
                %p
                  Our first meeting will be all about your business. What sets you apart from the competition? What make you unique? Your customers need to know!
            %li
              .c-services__list__icon
                %img{src: "/images/services/process/wireframing.png", alt: "Wireframing and initial mockups"}/
              .c-services__list__details
                %h5
                  2. Wireframing and initial mockups
                %p
                  I’ll produce simple wireframes that allow us to focus purely on the layout, structure and content of your website.
            %li
              .c-services__list__icon
                %img{src: "/images/services/process/detailed-design.png", alt: "Detailed design and realistic mockups"}/
              .c-services__list__details
                %h5
                  3. Detailed design and realistic mockups
                %p
                  I’ll produce realisitic mockups, so you can test your website before it’s built!
            %li
              .c-services__list__icon
                %img{src: "/images/services/process/final-design.png", alt: "Final design sign-off"}/
              .c-services__list__details
                %h5
                  4. Final design sign-off
                %p
                  After revisions, we’ll sign-off the final design. High five!
            %li
              .c-services__list__icon
                %img{src: "/images/services/process/developer-notes.png", alt: "Notes prepared for your developer"}/
              .c-services__list__details
                %h5
                  5. Notes prepared for your developer
                %p
                  I’ll provide detailed notes for your developer, to ensure a smooth handover.

%section.t-margin-top--150
  .container
    .row
      .col-md-8
        %h3
          Struggling to keep your website consistent? A Style Guide is the solution!
        %p
          Let’s imagine that your new website is launched, but you want to add additional pages. You contact your favourite designer, but he’s unavailable (sorry!). You hire another designer, but the pages they design are inconsistent with the current website. Not only does this make life difficult for your developer, but it harms your brand.
        %p
          A Style Guide is a manual for your website. It provides instructions on how to create new pages and edit existing ones. It ensures consistency, one of the most important characteristics of any great brand, and to top if off, designers will love working with you!
        %p
          Sounds too good to be true, right? Style Guides are optional, and add extra cost, but they’re worth every dollar. I’m happy to explain Style Guides in more detail when we work together.
      .col-md-4.t-text--center
        %img.t-border-radius--round{src: "/images/services/style-guide.png", alt: "Style Guide"}/
