---
title: "Page Not Found &mdash; Grid North Design"
---

%section.c-intro.x404
  .container
    .row
      .col-sm-8.col-sm-offset-2
        %h1
          Sorry! Page not found...
        %h2
          But, how about a magic trick instead? Sound good? Excellent! Keep reading.

%section.t-margin-bottom--150
  .container
    .row
      .col-sm-8.col-sm-offset-2
        :markdown
          ### Magic trick

          I'm a big fan of David Blaine, and this is a trick that he performs sometimes on stage. Unfortunately it won't work for everyone.

          1. Think of any word
          2. Take the last letter of your word, can you think of a state in the US that begins with your letter?
          3. Take the 2nd letter of your state, can you think of a US President who's last name begins with that letter?
          4. Take the 2nd letter of the President's last name, now think of a colour that begins with that letter.

          So you should now be thinking of a colour. Do you have one? Now, I don't think it would be an obvious colour, maybe something harder to guess. When you're ready, simply [CLICK HERE](/404/reveal) to reveal my prediction!
