%section.u-margin-top--150
  .container
    .c-testimonial
      %q
        Richard was a pleasure to work with. He guided me during the entire project asking all the right questions and providing valuable guidance throughout. It is a such relief to find someone whom I trust to give me the best possible advice to enhance the user experience right down to the smallest of details.
      .c-testimonial__author
        %img{src: "/images/testimonials/laura.jpg", alt: "Laura Elizabeth", data: {at2x: "http://www.gridnorthdesign.com/images/testimonials/laura@2x.jpg"}}/
        %small
          <span>Laura Elizabeth</span><br>
          Designer at Laurium
