%section.c-testimonial
  .container
    .c-testimonial__quote
      %q
        Richard was a pleasure to work with. He guided me during the entire project asking all the right questions and providing valuable guidance throughout. It is a such relief to find someone whom I trust to give me the best possible advice to enhance the user experience right down to the smallest of details.
      .c-testimonial__quote__author
        %img.c-avatar{src: "/images/testimonials/laura.jpg", alt: "Laura Elizabeth"}/
        %small
          <span>Laura Elizabeth</span><br>
          Designer at Laurium
