%section.c-testimonial
  .container
    .c-testimonial__quote
      %q
        Working with Richard is a must! I have seen first hand how Richard's designs have helped a startup raise more money.
      .c-testimonial__quote__author
        %img.t-border-radius--round{src: "/images/testimonials/marty.jpg", alt: "Marty McDonough"}/
        %small
          <span>Marty McDonough</span><br>
          Co-founder of Odyssey Translator
