%section.c-section.light.t-margin-top--150
  .container
    .c-testimonial
      %q
        Working with Richard is a must! I have seen first hand how Richard's designs have helped a startup raise more money.
      .c-testimonial__author
        %img.t-border-radius--round{src: "/images/testimonials/marty.jpg", alt: "Marty McDonough", data: {at2x: "http://www.gridnorthdesign.com/images/testimonials/marty@2x.jpg"}}/
        %small
          <span>Marty McDonough</span><br>
          Co-founder of Odyssey Translator
