%section.u-margin-top--150
  .container
    .c-testimonial
      %q
        The trust I have in Richard's work has allowed me to move my business forward while I focus on other areas. He has a keen eye and an even keener sense of what simply works.
      .c-testimonial__author
        %img.u-border-radius--round{src: "/images/testimonials/nathan.jpg", alt: "Nathan Powell", data: {at2x: "http://www.gridnorthdesign.com/images/testimonials/nathan@2x.jpg"}}/
        %small
          <span>Nathan Powell</span><br>
          Co-Founder of Nusii
