%section.c-testimonial
  .container
    .c-testimonial__quote
      %q
        The trust I have in Richard's work has allowed me to move my business forward while I focus on other areas. He has a keen eye and an even keener sense of what simply works.
      .c-testimonial__quote__author
        %img.c-avatar{src: "/images/testimonials/nathan.jpg", alt: "Nathan Powell"}/
        %small
          <span>Nathan Powell</span><br>
          Co-founder of Nusii
