%section.c-section.light.t-margin-top--150
  .container
    .c-testimonial
      %q
        Richard brought experience, creativity and common sense practicality to the design of our application. Our developers are incredibly pleased with the design and thoroughness of the corresponding documentation, both vital elements of the development cycle. Simply put, Richard helped our team take a sprawling prototype design and feature list into an intuitive product.
      .c-testimonial__author
        %img.t-border-radius--round{src: "/images/testimonials/tim.jpg", alt: "Tim Feess", data: {at2x: "http://www.gridnorthdesign.com/images/testimonials/tim@2x.jpg"}}/
        %small
          <span>Tim Feess</span><br>
          Co-Founder of GNARBOX
